﻿@using Microsoft.AspNet.Identity
<!doctype html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">*@

    <!-- Font Awesome -->

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">*@

    <!-- Metis core stylesheet -->
    <link rel="stylesheet" href="~/AdminTemplate/assets/css/main.min.css">

    <!-- metisMenu stylesheet -->
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/1.1.3/metisMenu.min.css">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/lib/html5shiv/html5shiv.js"></script>
      <script src="assets/lib/respond/respond.min.js"></script>
      <![endif]-->

    <link href="~/AdminTemplate/assets/css/theme.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="bg-dark dk" id="wrap">
        <div id="top">

            <!-- .navbar -->
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <header class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="~/Home/Index" class="navbar-brand">
                            <img src="~/Content/PulseGym.jpg" style="height: 51px;border-radius:50%;" alt="">
                        </a>
                    </header>
                    <div class="topnav">
                        <div class="btn-group">
                            <a data-placement="bottom" data-original-title="Fullscreen" data-toggle="tooltip" class="btn btn-default btn-sm" id="toggleFullScreen">
                                <i class="glyphicon glyphicon-fullscreen"></i>
                            </a>
                        </div>

                        <div class="btn-group">
                            <a data-placement="bottom" data-original-title="Show / Hide Left" data-toggle="tooltip" class="btn btn-primary btn-sm toggle-left" id="menu-toggle">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom" class="btn btn-metis-1 btn-sm">
                                        <i class="fa fa-power-off"></i>
                                    </a>
                                }
                            }

                        </div>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">

                        <!-- .nav -->
                        <ul class="nav navbar-nav">
                            @*<li> <a href="table.html">Tables</a>  </li>*@
                        </ul>

                        <!-- /.nav -->
                    </div>
                </div><!-- /.container-fluid -->
            </nav><!-- /.navbar -->

        </div><!-- /#top -->
        <div id="left">
            <div class="media user-media bg-dark dker">
                <div class="user-media-toggleHover">
                    <span class="fa fa-user"></span>
                </div>
                <div class="user-wrapper bg-dark">
                    <a class="user-link" href="">
                        <img class="media-object img-thumbnail user-img" alt="User Picture" src="~/Content/PulseGym.jpg" style="width: 82px;">
                        <span class="NotificationGlobal"></span>
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">@User.Identity.Name</h5>
                        <ul class="list-unstyled user-info">
                            <li> <br />  </li>
                            <li>
                                Date :
                                <br>
                                <small>
                                    <i class="fa fa-calendar"></i>&nbsp; @DateTime.Now.Date.ToString("dd/MM/yyyy")
                                </small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- #menu -->
            <ul id="menu" class="bg-blue dker">
                <li class="nav-header">Menu</li>
                <li class="nav-divider"></li>
                <li class="active">
                    <a href="~/Home/Index">

                        <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="~/Client/MemberRegister">
                        <i class="fa fa-user-plus"></i>
                        <span class="link-title">
                            Register
                        </span>
                    </a>
                </li>
                <li>
                    <a href="~/Client/MemberList">
                        <i class="fa fa-users"></i>
                        <span class="link-title">
                            Members
                        </span>
                    </a>
                </li>
                @*<li>
                        <a href="~/AdminTemplate/chart.html">

                            <i class="fa fa fa-bar-chart-o"></i>
                            <span class="link-title">
                                Report
                            </span>
                        </a>
                    </li>*@
                <li>
                    <a href="~/Client/Payments">
                        <i class="fa fa-money"></i>
                        <span class="link-title">
                            Payment History
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span class="link-title">
                            Settings
                        </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul>
                        <li>
                            <a href="~/Client/MembershipTypeList">
                                <i class="fa fa-angle-right"></i>&nbsp;Membership Type
                            </a>
                        </li>
                        <li>
                            <a href="~/Admin/RegisterGym">
                                <i class="fa fa-angle-right"></i>&nbsp;Gym
                            </a>
                        </li>
                        <li>
                            <a href="~/Admin/UserAdd">
                                <i class="fa fa-angle-right"></i>&nbsp;User
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-divider"></li>
                <li>
                    <a href="~/Account/Login">
                        <i class="fa fa-sign-in"></i>
                        <span class="link-title">
                            Login Page
                        </span>
                    </a>
                </li>

            </ul><!-- /#menu -->
        </div><!-- /#left -->
        <div id="content">
            <div class="outer">
                <div class="inner bg-light lter">
                    @RenderBody()
                </div>
            </div>
        </div><!-- /#content -->

    </div><!-- /#wrap -->
    <!-- #helpModal -->
    <div id="helpModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal --><!-- /#helpModal -->
    <!--jQuery -->



    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.18.4/js/jquery.tablesorter.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js"></script>

    <!-- MetisMenu -->
    <script src="~/AdminTemplate/assets/lib/metismenu/metisMenu.min.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/1.1.3/metisMenu.min.js"></script>*@

    <!-- Screenfull -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/screenfull.js/2.0.0/screenfull.min.js"></script>

    <!-- Metis core scripts -->
    <script src="~/AdminTemplate/assets/js/core.min.js"></script>

    <!-- Metis demo scripts -->
    <script src="~/AdminTemplate/assets/js/app.js"></script>
    <script>
        $(function () {
            Metis.dashboard();
        });
    </script>

</body>

</html>

@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mall management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                   <li>@Html.ActionLink("Main Page", "MainPage", "Admin")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@
