﻿
    @*@model MallProject.Models.AdminMallMsgTbl*@

    @model MallProject.Models.ViewModel.AdminMallMsgModel


    @Html.AntiForgeryToken()
  
    <div class="table table-filter table-hover">

        <hr />

        <div class="form-group">
            <h5 style="color:white">
                @Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })</h5>
                <div class="col-xs-12 col-md-5">
                    @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
                </div>
</div>
        <div class="form-group">
            <h5 style="color:white">  @Html.LabelFor(model => model.Msg, htmlAttributes: new { @class = "control-label col-md-2" })</h5>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Msg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Msg, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-primary" />
                <input type="button" value="Cancel" class="btn btn-primary"
                       onclick="location.href='@Request.UrlReferrer'" />
            </div>
        </div>
    </div>

