﻿@model IEnumerable<MallProject.Models.AdminMallMsgTbl>
@Html.AntiForgeryToken()
<table class="table table-filter">
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-status="pagado">
                <td>
                    <input type="checkbox" name="ids" value="@item.AdminMallMsgID" />
                </td>
                <td></td>
                <td>
                    <div class="media">
                        <a href="#" class="pull-left">
                            @{
                                var db = new MallProject.Models.MallManagementEntities();

                                var MallList1 = db.MallTbls.ToList();
                                foreach (var id in MallList1)
                                {
                                    if (item.MallID == id.MallID)
                                    {


                                        if (id.Img == null)
                                        {
                                            <img src="~/Uploads/mallnot.png" style="width: 50px; height: 50px;border-radius: 50%;" />
                                        }

                                        else
                                        {

                                            <img src="~/Uploads/Mall/@id.Img" style="width: 50px; height: 50px;border-radius: 50%;">
                                        }


                                    }
                                }
                            }

                        </a>
                        <div class="media-body">
                            <span class="media-meta pull-right">@item.DatePosted</span>
                            <h4 class="title">
                                @{


                                    var MallList = db.MallTbls.ToList();
                                    foreach (var id in MallList)
                                    {
                                        if (item.MallID == id.MallID)
                                        {


                                            @Html.DisplayFor(modelItem => id.MallName)


                                        }
                                    }
                                }
                                <span class="pull-right pagado">
                                    @{if (!IsPost)
                                        {
                                            if (item.ReadStatus != true)
                                            {
                                                <img src="~/Content/msg.png" style="width: 40px; height: 40px;" />


                                            }
                                        }

                                        if (IsPost)
                                        {

                                            if (Request["command"].Equals("Inbox"))
                                            {
                                                if (item.ReadStatus != true)
                                                {
                                                    <img src="~/Content/msg.png" style="width: 40px; height: 40px;" />


                                                }

                                            }
                                        }
                                    }

                                    @Html.ActionLink("Details", "AdminMallMsgDetails", new { controller = "Admin", id = item.AdminMallMsgID })|
                                    @if (User.IsInRole("Admin") && item.WhoStatus == false)
                                    {
                                        @Html.ActionLink("Reply", "SendMsgAdminOwnerReply", new
                                   {
                                       MallID = item.MallID
                                   });

                                    }


                                </span>


                            </h4>
                            <p class="summary">
                                @{

                                    @item.Msg
                                }



                            </p>

                        </div>
                    </div>
                </td>
            </tr>

                                    }
    </tbody>
</table>
<div>
    <input type="submit" class="btn btn-primary" style="float:right; margin-right:10px;" value="Delete" onclick="return confirm('Are sure wants to delete?');" />
</div>
