﻿
    @model MallProject.Models.ViewModel.CategoryViewModel
@{
    ViewBag.Title = "AddCategory";
}
@using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()
<h4>Add New Category Here..</h4>
<hr />


<div class="form-group">
    @Html.LabelFor(m => m.MallCategoryName, new { @class = "col-md-2 control-label" })
    <div class="col-xs-12 col-md-5">
        @Html.TextBoxFor(m => m.MallCategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MallCategoryName, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-xs-12 col-md-5">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
    <div class="col-xs-12 col-md-5">
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-primary" value="Add" />
        <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("ViewCategory", "Admin") + "'");" />
    </div>
</div>


}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
