﻿
@model IEnumerable<MallProject.Models.MallOwnerDetailsTbl>
@{
    ViewBag.Title = "AdminMallOwnerListView";
}
@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
@using (Html.BeginForm("AdminMallOwnerListView", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Styles.Render("~/Content/Mall.css")
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-sm-3">
                    <div class="card">
                        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                        <div class="avatar">
                            @if (item.Img == null)
                            {
                                <a href="OwnerDetailsViewForAdmin?MallOwnerDetailsID=@item.MallOwnerDetailsID" data-toggle="modal" data-target="#myModal"><img src="~/Uploads/default.png" name="aboutme" width="140" height="140" class="img-circle" ></a>
                            }

                            else
                            {

                                <a href="OwnerDetailsViewForAdmin?MallOwnerDetailsID=@item.MallOwnerDetailsID" data-toggle="modal" data-target="#myModal"><img src="~/Uploads/MallOwner/@item.Img" name="aboutme" width="140" height="140" class="img-circle"></a>
                            }
                        </div>
                        <div class="content">
                            <p>
                                @item.OwnerName <br>
                                @item.PhnNo
                            </p>
                            <p>
                                <input type="button" class="btn-primary" value="Details" onclick="@("window.location.href='" + @Url.Action("OwnerDetailsViewForAdmin", "Admin", new { MallOwnerDetailsID = item.MallOwnerDetailsID }) + "'");" />
                                <input type="button" class="btn-primary" value="View Malls" onclick="@("window.location.href='" + @Url.Action("AdminMallListViewOnID", "Admin", new { MallOwnerID = item.MallOwnerID, OwnerName = item.OwnerName }, null) + "'");" />
                            </p>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ></div>
            @*<div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="myModalLabel">More About Joe</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                            <h3 class="media-heading">Joe Sixpack <small>USA</small></h3>
                            <span><strong>Skills: </strong></span>
                            <span class="label label-warning">HTML5/CSS</span>
                            <span class="label label-info">Adobe CS 5.5</span>
                            <span class="label label-info">Microsoft Office</span>
                            <span class="label label-success">Windows XP, Vista, 7</span>
                        </center>
                        <hr>
                        <center>
                            <p class="text-left">
                                <strong>Bio: </strong><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.
                            </p>
                            <br>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <center>
                            <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
  
            }*@

  
  
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
