﻿
@model IEnumerable<MallProject.Models.MallTbl>
@{
    ViewBag.Title = "AdminMallListView";
}
@Styles.Render("~/Content/Mall.css")
<body class="body2">
    @{if (TempData["Message"] != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
            </script>
        }
    }
    <h2 style="color:black;">List Of Registered Malls</h2>
    <div align="right">
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("AdminIndex", "Admin") + "'");" />
    </div>
    <div>
        @*<table class="Table hoverTable table-striped table-responsive">*@
            <table class="table table-striped table-responsive">
                <tr>
                    <th> </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>

                            @if (item.Img == null)
                            {
                                <img src="~/Uploads/mallnot.png" style="width: 300px; height: 268px;" />
                            }
                            else
                            {

                                <img src="~/Uploads/Mall/@item.Img" style="width: 300px; height: 268px;">
                            }
                        </td>
                        <td>
                            <h2 style="text-transform: uppercase;color:black;"><b>@Html.DisplayFor(modelItem => item.MallName)</b> </h2>
                            <pre style="font-size:16px;background-color:white">
                     @{
                         var db = new MallProject.Models.MallManagementEntities();
                         var CategoryList = db.MallCategoryTbls.ToList();
                         foreach (var id in CategoryList)
                         {
                             if (item.MallCategoryID == id.MallCategoryID)
                             {
<b>CATEGORY         : </b>@Html.DisplayFor(modelItem => id.Name)
                                 }
                             }
                         }
                     @{
                         //  var db = new MallProject.Models.MallManagementEntities();
                         var MallOwnerList = db.MallOwnerDetailsTbls.ToList();
                         foreach (var id in MallOwnerList)
                         {
                             if (item.MallOwnerID == id.MallOwnerID)
                             {
<b>OWNER-NAME       : </b>@Html.DisplayFor(modelItem => id.OwnerName)
                                
                             }
                         }
                     }
<b>SUARE-FEET       : </b>@Html.DisplayFor(modelItem => item.SQFT)
<b>NO.OF.ROOMS      : </b>@Html.DisplayFor(modelItem => item.NRooms)
<b>NO.OF.FLOOR      : </b>@Html.DisplayFor(modelItem => item.NFloor)
<b>LICENCE-NO       : </b>@Html.DisplayFor(modelItem => item.LicenceNo)
<b>ADDRESS          : </b>@Html.DisplayFor(modelItem => item.Address)
<b>PHONE-NO         : </b>@Html.DisplayFor(modelItem => item.PhnNo)</pre>
                        </td>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right" style="vertical-align:top;">
                            <div class="btn btn btn-default">
                                @Html.ActionLink("Delete", "RemoveMall", new { MallID = item.MallID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                            </div>
                            <div class="btn btn btn-default">
                                @Html.ActionLink("MallSite", "MallSite", "MallOwner", new { MallID = item.MallID }, null)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th> </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
    }
            </table>
    </div>
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
