﻿
@{
    ViewBag.Title = "AdminIndex";
}
@Styles.Render("~/Content/Mall.css")
@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
<body class="body">
    <h2 align="center" style="color:black;">DASHBOARD!</h2>
    @using (Html.BeginForm("AdminIndex", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="container">
            @*<div class="panel panel-default">
                <div class="panel-body">*@
                    <div>

                        <div class="col-md-3">
                            <div class="square-service-block">
                                <a href="AdminMallListView">
                                    <div class="ssb-icon"><i class="fa-search" aria-hidden="true"></i></div>
                                    <h2 class="ssb-title">Registered <br />Malls</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="square-service-block">
                                <a href="AdminMallOwnerListView">
                                    <div class="ssb-icon"> <i class="fa fa-globe" aria-hidden="true"></i> </div>
                                    <h2 class="ssb-title">Registered <br />Users</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="square-service-block">
                                <a href="ViewAdminOwnerTransaction">
                                    <div class="ssb-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
                                    <h2 class="ssb-title">View <br />Transactions</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="square-service-block">
                            <a href="ViewCategory">
                                <div class="ssb-icon"><i class="fa fa-font" aria-hidden="true"></i></div>
                                <h2 class="ssb-title">Add/Remove <br />Category</h2>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <div class="square-service-block">
                            <a href="RemarkToMallOwner">
                                <div class="ssb-icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                                <h2 class="ssb-title">Message <br>Box</h2>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="square-service-block">
                            <a href="RemarkToMallOwner">
                                <div class="ssb-icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                                <h2 class="ssb-title">Edit<br />Site</h2>
                            </a>
                        </div>
                    </div>
                </div>
            @*</div>
        </div>*@


    }
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
