﻿@model IEnumerable<MallProject.Models.MallOwnerDetailsTbl>
@{
    ViewBag.Title = "AdminMallOwnerListView";
}
@Styles.Render("~/Content/Mall.css")
<body class="body2">
    @{if (TempData["Message"] != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
            </script>
        }
    }
    <h2 style="color:white;">List of Registered Owners</h2>
    @using (Html.BeginForm("AdminMallOwnerListView", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <input type="submit" class="btn btn-primary" name="command" style="float: left;margin-right:10px;" value="AllUsers" />
            <input type="submit" class="btn btn-primary" name="command" style="float: left;" value="MallRegisterdUsers" />
            <input type="button" align="right" class="btn btn-primary" style="float: right;" value="Back" onclick="@("window.location.href='" + @Url.Action("AdminIndex", "Admin") + "'");" />
        </div>
         <hr>
    }
   
    @{
        if (!IsPost)
        {

            Html.RenderPartial("AdminMallOwnerListViewPartial", Model);
        }
        else if (IsPost)
        {
            if (Request["command"].Equals("AllUsers"))
            {
                Html.RenderPartial("AdminMallOwnerListViewPartial", Model);
            }
            else
            {
                var db = new MallProject.Models.MallManagementEntities();

                var MallOwnerList = db.MallOwnerDetailsTbls.ToList();

                var OwnersWithMall = new List<MallProject.Models.MallOwnerDetailsTbl>();

                foreach (var Owner in MallOwnerList)
                {
                    var CheckMall = db.MallTbls.Where(x => x.MallOwnerID == Owner.MallOwnerID).ToList();
                    if (CheckMall.Count() > 0)
                    {
                        OwnersWithMall.Add(Owner);
                    }
                }
                Html.RenderPartial("AdminMallOwnerListViewPartial", OwnersWithMall);
            }
        }
    }
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
