﻿@model IEnumerable<MallProject.Models.MallTbl>
@{
    ViewBag.Title = "AdminMallListViewOnID";
}

@Styles.Render("~/Content/Mall.css")
<body class="body2">
    @{if (TempData["Message"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert('@TempData["Message"]');
                };
            </script>
        }
    }
    <h2 style="color:white">Registered Malls of @ViewBag.OwnerName </h2>
    @*<div align="right">
    
        <input type="button" value="BACK" class="btn btn-primary"
               onclick="location.href='@Request.UrlReferrer'" />
    </div>*@
    

        @{

            if (Model.Count() > 0)
            {
                @*<table class="table table-hover table-striped table-responsive">*@
                <table class="table table-striped hoverTable">
                    <tr>
                        <th> </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                {

                        <tr>
                            <td>
                                @*<h1 style="text-transform: uppercase;color:black ;"><b>@Html.DisplayFor(modelItem => item.MallName)</b> </h1>*@

                                @if (item.Img == null)
                                {
                                    <img src="~/Uploads/mallnot.png" style="width: 500px; height: 500px;" />
                                }

                                else
                                {

                                    <img src="~/Uploads/Mall/@item.Img" style="width: 500px; height: 500px;">
                                }
                            </td>
                            <td>
                                <div>
                                    @*<pre style="font-size: 16px"><b>MAll-NAME        : </b>@Html.DisplayFor(modelItem =>item.MallName)</pre>*@
                                    <h1 style="text-transform: uppercase;color:white ;"><b>@Html.DisplayFor(modelItem => item.MallName)</b> </h1>
                                </div>
                                @*<pre style="font-size: 16px"><b>NO               : </b>@Html.DisplayFor(modelItem => item.MallID)</pre>*@
                                @{
                                    var db = new MallProject.Models.MallManagementEntities();
                                    var CategoryList = db.MallCategoryTbls.ToList();
                                    foreach (var id in CategoryList)
                                    {
                                        if (item.MallCategoryID == id.MallCategoryID)
                                        {

                                            <div>
                                                <pre style="font-size: 16px"><b>CATEGORY         : </b>@Html.DisplayFor(modelItem => id.Name)</pre>
                                            </div>
                                        }
                                    }
                                }

                                @{
                                    //  var db = new MallProject.Models.MallManagementEntities();
                                    var MallOwnerList = db.MallOwnerDetailsTbls.ToList();
                                    foreach (var id in MallOwnerList)
                                    {
                                        if (item.MallOwnerID == id.MallOwnerID)
                                        {
                                            <div>
                                                <pre style="font-size: 16px"><b>OWNER-NAME       : </b>@Html.DisplayFor(modelItem => id.OwnerName)</pre>
                                            </div>

                                        }
                                    }
                                }

                                <div>
                                    <pre style="font-size: 16px"><b>SUARE-FEET       : </b>@Html.DisplayFor(modelItem => item.SQFT)</pre>
                                    @* <pre style="font-size: 16px"><b>Mall-Name       : </b>@Html.DisplayFor(modelItem => item.MallName)
                                        <b>SQUARE-FEET     :</b>@Html.DisplayFor(modelItem => item.SQFT)</pre>
                                    *@
                                </div>
                                <div>
                                    <pre style="font-size: 16px"><b>NO.OF.ROOMS      : </b>@Html.DisplayFor(modelItem => item.NRooms)</pre>
                                </div>
                                <div>
                                    <pre style="font-size: 16px"><b>NO.OF.FLOOR      : </b>@Html.DisplayFor(modelItem => item.NFloor)</pre>
                                </div>
                                <div>
                                    <pre style="font-size: 16px"><b>LICENCE-NO       : </b>@Html.DisplayFor(modelItem => item.LicenceNo)</pre>
                                </div>
                                <div>
                                    <pre style="font-size: 16px"><b>ADDRESS          : </b>@Html.DisplayFor(modelItem => item.Address)</pre>
                                </div>
                                <div>
                                    <pre style="font-size: 16px"><b>PHONE-NO         : </b>@Html.DisplayFor(modelItem => item.PhnNo)</pre>
                                </div>
                            </td>
                            <td>
                                <div class="btn btn-default">
                                    @Html.ActionLink("Delete", "RemoveMall", new { MallID = item.MallID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                                </div>
                                <div class="btn btn-default">
                                    @Html.ActionLink("MallSite", "MallSite", "MallOwner", new { MallID = item.MallID }, null)
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th> </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                                    }
                </table>
                                    }
                                    else
                                    {
                                        
                                            <div align="center"><h2 style="color:white">No Mall Registered Yet!</h2></div>
                                            }
                                            }
</body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
