﻿@model MallProject.Models.AdminMallMsgTbl
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "AdminMallMsgDetails";
}
<hr />


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminMallMsgID)
        </dd>
        <dt>
            MALL NAME
        </dt>
        <dd>
            @{

                var db = new MallProject.Models.MallManagementEntities();
                var MallList = db.MallTbls.ToList();
                foreach (var id in MallList)
                {
                    if (Model.MallID == id.MallID)
                    {


                        @Html.DisplayFor(modelItem => id.MallName)


                    }
                }
            }
        </dd>
        <dt>
            OWNER NAME
        </dt>
        <dd>
            @{

                var Owner = db.MallOwnerDetailsTbls.ToList();

                foreach (var id in MallList)
                {
                    if (Model.MallID == id.MallID)
                    {
                        foreach (var id2 in Owner)
                        {
                            if (id2.MallOwnerID == id.MallOwnerID)
                            {
                                @Html.DisplayFor(modelItem => id2.OwnerName)
                            }
                        }
                    }
                }
            }
        </dd>

        <dt>
            DATE POSTED
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
        <dt>
            MESSAGE
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Msg)
        </dd>

    </dl>
</div>
