﻿@*
@model MallProject.Models.ViewModel.MallEmpViewModel

@{
    ViewBag.Title = "AdminLogin";
}

<h2>Login.</h2>

    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("AdminLogin", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    // <h4> log in.</h4> //
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.EmailID, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EmailID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                    /* <div class="form-group">
                         <div class="col-md-offset-2 col-md-10">
                             <div class="checkbox">
                                 @Html.CheckBoxFor(m => m.RememberMe)
                                 @Html.LabelFor(m => m.RememberMe)
                             </div>
                         </div>
                     </div>*/
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>

                  // Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>//
                }
            </section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
-----------------------------------------------------------------------------------------------------------------------------new

<body class="body1">
    @Styles.Render("~/Content/Mall.css")
    @using (Html.BeginForm("AdminLogin", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
        // <h4> log in.</h4> //
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="login-block input">
            <h1>Login</h1>
            <div>
                @Html.TextBoxFor(m => m.EmailID, new { @class = "un", placeholder = "Email" })
                </div>
            <div>
                @Html.ValidationMessageFor(m => m.EmailID, "", new { @class = "text-danger" })
         </div>

            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "ps", placeholder = "Password" })
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div>
                <button>Submit</button>
            </div>
        </div>

    }
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@