﻿@model MallProject.Models.AdminMallTransactionTbl
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "GetSlip";
}
@Styles.Render("~/Content/Mall.css")
<div class="container">
    <div class="row">

        <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="receipt-header">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="receipt-left">
                            @{
                                var db = new MallProject.Models.MallManagementEntities();
                                var MallList = db.MallTbls.ToList();
                                foreach (var id in MallList)
                                {
                                    if (Model.MallID == id.MallID)
                                    {
                                        ViewBag.ID = Model.AdminMallTransactionID;

                                        if (id.Img == null)
                                        {
                                            <img class="img-responsive" src="~/Uploads/mallnot.png" style="width: 88px; border-radius: 43px;" />
                                        }
                                        else
                                        {

                                            <img class="img-responsive" src="~/Uploads/Mall/@id.Img" style="width: 88px; border-radius: 43px;">
                                        }
                                    }
                                }
                            }

                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <div class="receipt-right">
                            <h5>Admin</h5>
                            <p>+91 12345-6789 <i class="fa fa-phone"></i></p>
                            <p>info@gmail.com <i class="fa fa-envelope-o"></i></p>
                            <p>India <i class="fa fa-location-arrow"></i></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="receipt-header receipt-header-mid">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            <h5>
                                @{
                                    var OwnerList = db.MallOwnerDetailsTbls.ToList();
                                    foreach (var id in MallList)
                                    {
                                        if (Model.MallID == id.MallID)
                                        {
                                            <b style="text-transform:uppercase;">@Html.DisplayFor(modelItem => id.MallName)</b>
                                        }
                                    }
                                }
                            </h5>
                            <p>
                                <b>Mobile :</b>@{

                                    foreach (var id in MallList)
                                    {
                                        if (Model.MallID == id.MallID)
                                        {


                                            @Html.DisplayFor(modelItem => id.PhnNo)

                                        }
                                    }
                                }
                            </p>
                            <p>
                                <b>Owner Name :</b>@{

                                    foreach (var id in MallList)
                                    {
                                        if (Model.MallID == id.MallID)
                                        {
                                            foreach (var id2 in OwnerList)
                                            {
                                                if (id.MallOwnerID == id2.MallOwnerID)
                                                {
                                                    @Html.DisplayFor(modelItem => id2.OwnerName)
                                                }
                                            }
                                        }
                                    }
                                }
                            </p>
                            <p>
                                <b>Email :</b>@{

                                    foreach (var id in MallList)
                                    {
                                        if (Model.MallID == id.MallID)
                                        {
                                            foreach (var id2 in OwnerList)
                                            {
                                                if (id.MallOwnerID == id2.MallOwnerID)
                                                {
                                                    @Html.DisplayFor(modelItem => id2.EmailID)
                                                }
                                            }
                                        }
                                    }
                                }
                            </p>
                            <p>
                                <b>Address :</b>@{

                                    foreach (var id in MallList)
                                    {
                                        if (Model.MallID == id.MallID)
                                        {


                                            @Html.DisplayFor(modelItem => id.Address)


                                        }
                                    }
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            <h3>RECEIPT</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9">Payment for @Model.DatePaid</td>
                            <td class="col-md-3"><i class="fa fa-inr"></i> @(Model.Amount) /-</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <p>
                                    <strong>Total Amount: </strong>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <strong><i class="fa fa-inr"></i> @(Model.Amount)</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"><h3><strong>Total: </strong></h3></td>
                            <td class="text-left text-danger"><h3><strong><i class="fa fa-inr"></i> @(Model.Amount)/-</strong></h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="receipt-header receipt-header-mid receipt-footer">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            <p><b>Date :</b>@DateTime.Now</p>
                            <h5 style="color: rgb(140, 140, 140);">Thank you for your business!</h5>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            <h3>Signature</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div align="center">
    
    <input type="button" class="btn btn-default" value="Save" onclick="@("window.location.href='" + @Url.Action("DownloadPDF", "Admin", new { AdminMallTransactionID = ViewBag.ID }) + "'");" />
    
    <input type="button" value="Leave" class="btn btn-primary"
           onclick="location.href='@Request.UrlReferrer'" />
</div>

