﻿@model MallProject.Models.MallOwnerDetailsTbl
@{
    ViewBag.Title = "OwnerDetailsViewForAdmin";
}
<h2 style="color:white">Profile view in detail..</h2>
@Styles.Render("~/Content/Mall.css")
<body class="body2">
    <div align="right">
        @*<input type="button" value="BACK" class="btn btn-primary"
               onclick="location.href='@Request.UrlReferrer'" />*@
    </div>
    <hr />

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


                <div class="panel panel-info" style="background-color:white;font-family:'Arial Unicode MS'">
                    <div class="panel-heading" style="background-color:powderblue">
                        <h3 class="panel-title">@Html.DisplayFor(model => model.OwnerName)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3" align="center">
                                @if (Model.Img == null)
                                {
                                    <img src="~/Uploads/default.png" style="width: 130px; height: 130px;" />
                                }

                                else
                                {

                                    <img src="~/Uploads/MallOwner/@Model.Img" style="width: 130px; height: 130px;">
                                }
                            </div>


                            <div class="col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td><b>NUMBER</b></td>
                                            <td>:@Html.DisplayFor(model => model.MallOwnerDetailsID)</td>
                                        </tr>
                                        <tr>
                                            <td><b>NAME</b></td>
                                            <td>:@Html.DisplayFor(model => model.OwnerName)</td>
                                        </tr>
                                        <tr>
                                            <td width="200px"><b>ADDRESS</b></td>
                                            <td>:@Html.DisplayFor(model => model.Address)</td>
                                        </tr>

                                        <tr>
                                        <tr>
                                            <td><b>EMAIL ID</b></td>
                                            <td>:@Html.DisplayFor(model => model.EmailID)</a></td>
                                        </tr>
                                        <tr>
                                            <td><b>DATE OF BIRTH</b></td>
                                            <td>:@Html.DisplayFor(model => model.DOB)</td>
                                        </tr>

                                        <tr>
                                            <td><b>AGE</b></td>
                                            <td>:@Html.DisplayFor(model => model.Age)</td>
                                        </tr>

                                        <tr>
                                            <td><b>GENDER</b></td>
                                            <td>:@Html.DisplayFor(model => model.Gender)</td>
                                        </tr>
                                        <tr>
                                            <td><b>PHONE NUMBER</b></td>
                                            <td>:@Html.DisplayFor(model => model.PhnNo)</td>
                                        </tr>
                                        <tr>
                                            <td><b>REGISTRATION DATE</b></td>
                                            <td>:@Html.DisplayFor(model => model.RegDate)</td>
                                        </tr>

                                    </tbody>
                                </table>

                                @*<a href="#" class="btn btn-primary">My Sales Performance</a>
                                    <a href="#" class="btn btn-primary">View Malls</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                        <div class="panel-footer">
                            <a href="mailto:@Html.DisplayFor(model => model.EmailID)" data-original-title="Send Email" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                            <span class="pull-right btn btn-default">
                                @*<a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>*@
                                @Html.ActionLink("Delete", "RemoveMallOwner", new { MallOwnerDetailsID = Model.MallOwnerDetailsID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                            </span>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <p class="text-info" style="color:white">@DateTime.Now</p>



</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

