﻿
@model MallProject.Models.ViewModel.AdminMallTransactionModel
@{
    ViewBag.Title = "PayAdminRent";
}

@Styles.Render("~/Content/Mall.css")
<h2>Payment Page</h2>
<div align="right">
    <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndexAdminSpace", "MallOwner") + "'");" />
</div>
@using (Html.BeginForm("PayAdminRent", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
       <h4> @Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })</h4>
        <div class="col-xs-12 col-md-5">
            @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MallID, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.AdminMallTransactionID)
    <div class="form-group" style="color:black;">
        <h4>@Html.LabelFor(m => m.PaymentMode, new { @class = "col-md-2 control-label" })</h4>
        <div class="col-xs-12 col-md-5">
            @Html.RadioButtonFor(model => model.PaymentMode, "Credit", new { id = "Credit" })@Html.Label("Credit", "Credit")
            <br />
            @Html.RadioButtonFor(model => model.PaymentMode, "NetBanking", new { id = "NetBanking" })@Html.Label("NetBanking", "NetBanking")<br />
            @Html.ValidationMessageFor(model => model.PaymentMode, "", new { @class = "Red-Text" })
            <input type="submit" class="btn btn-default" value="GO>" />
        </div>
       
    </div>
   
}


@{
    var AdminMallTransactionID = Request.QueryString["AdminMallTransactionID"];
    var MallID2 = Request.QueryString["MallID"];
    var PaymentMode = Request.QueryString["PaymentMode"];
    var MallID = Convert.ToInt32(MallID2);
    var AdminMallTransactionID2 = Convert.ToInt32(AdminMallTransactionID);
    if (PaymentMode == "Credit" && MallID2 != null)
    {
        <div class="container wrapper">

            @using (Html.BeginForm("PayAdminRent2", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="row cart-body">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">


                        <!--CREDIT CART PAYMENT-->
                        <div class="panel panel-info">
                            <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
                            <div class="panel-body">
                                @{ var db = new MallProject.Models.MallManagementEntities();
                                    var Cat = db.MallCategoryTbls.ToList();
                                    var MallList = db.MallTbls.ToList();
                                    foreach (var id in MallList)
                                    {
                                        if (MallID == id.MallID)
                                        {
                                            foreach (var id2 in Cat)
                                            {
                                                if (id.MallCategoryID == id2.MallCategoryID)
                                                {

                                                    <div class="form-group">
                                                        <div class="col-md-12"><strong>Amount:</strong></div>
                                                        <div class="col-md-12"><input type="text" class="form-control" readonly value="@id2.Amount" name="Amount" /></div>
                                                        <div class="col-md-12"><input type="hidden" class="form-control" value="@MallID" name="MallID" /> </div>
                                                        <div class="col-md-12"><input type="hidden" class="form-control" value="@PaymentMode" name="PaymentMode" /></div>
                                                        <div class="col-md-12"><input type="hidden" class="form-control" value="@AdminMallTransactionID2" name="AdminMallTransactionID2" /></div>
                                                    </div>

                                                }
                                            }
                                        }
                                    }
                                }

                                <div class="form-group">
                                    <div class="col-md-12"><strong>Card Type:</strong></div>
                                    <div class="col-md-12">
                                        <select id="CreditCardType" name="CreditCardType" class="form-control">
                                            <option value="5">Visa</option>
                                            <option value="6">MasterCard</option>
                                            <option value="7">American Express</option>
                                            <option value="8">Discover</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Credit Card Number:</strong></div>
                                    <div class="col-md-12"><input type="text" class="form-control" name="car_number" value="" /></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Card CVV:</strong></div>
                                    <div class="col-md-12"><input type="text" class="form-control" name="car_code" value="" /></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <strong>Expiration Date</strong>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="">
                                            <option value="">Month</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="">
                                            <option value="">Year</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <span>Pay secure using your credit card.</span>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="cards">
                                            <li class="visa hand">Visa</li>
                                            <li class="mastercard hand">MasterCard</li>
                                            <li class="amex hand">Amex</li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="submit" class="btn btn-primary " value="Pay Now" />
                                        <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("PayAdminRent", "Admin") + "'");" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--CREDIT CART PAYMENT END-->
                    </div>


                </div>
                                    }
            <div class="row cart-footer">

            </div>
        </div>
                                    }
}