﻿
@{
    ViewBag.Title = "PayAdminRent2";
}

<h2>@ViewBag.Completed <input type="button" class="btn btn-primary" value="Get Receipt" onclick="@("window.location.href='" + @Url.Action("GetSlip", "Admin",new { AdminMallTransactionID=ViewBag.AdminMallTransactionID}) + "'");" /></h2>


