﻿
@model MallProject.Models.AdminMallMsgTbl
@{

    ViewBag.Title = "RemarkToMallOwner";
}
@Styles.Render("~/Content/Mall.css")
<body class="body2">
   
    <p align="right">
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("AdminIndex", "Admin") + "'");" />
    </p>
    <div>
        
        <div class="container">
            <div class="row">
             

                    <div class="col-md-12 col-md-offset-0">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="btn-group">
                                    @using (Html.BeginForm("RemarkToMallOwner", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:780px;" value="Send Message" />
                                        <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:10px;" value="Inbox" />
                                        <input type="submit" class="btn btn-default" name="command" style="float: right;margin-right:10px;" value="Send Items" />
                                    }

                                </div>


                                <div class="table-container">
                                    @{

                                        if (TempData["Message"] != null)
                                        {
                                            <script type="text/javascript">
                                                window.onload = function () {
                                                    alert('@TempData["Message"]');
                                                };
                                            </script>
                                        }
                                        if (!IsPost)
                                        {
                                            using (Html.BeginForm("RemoveMsg", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {


                                                var db = new MallProject.Models.MallManagementEntities();
                                                var Model = db.AdminMallMsgTbls.Where(x => x.WhoStatus == false && x.AdminViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                                if (Model.Count > 0)
                                                {
                                                    Html.RenderPartial("ViewMsgAdminOwnerPartial", Model);
                                                }
                                                else
                                                {
                                                    <h1>No Messages</h1>
                                                }
                                            }
                                        }


                                        if (IsPost)
                                        {

                                            using (Html.BeginForm("SendMsgAdminOwnerPartial", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {

                                                if (Request["command"].Equals("Send Message"))
                                                {

                                                    Html.RenderPartial("SendMsgAdminOwnerPartial");
                                                }

                                            }
                                            using (Html.BeginForm("RemoveMsg", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                if (Request["command"].Equals("Inbox"))
                                                {
                                                    var db = new MallProject.Models.MallManagementEntities();
                                                    var Model = db.AdminMallMsgTbls.Where(x => x.WhoStatus == false && x.AdminViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                                    if (Model.Count > 0)
                                                    {
                                                        Html.RenderPartial("ViewMsgAdminOwnerPartial", Model);
                                                    }
                                                    else
                                                    {
                                                        <h1>No Messages</h1>
                                                    }
                                                }

                                                else if (Request["command"].Equals("Send Items"))
                                                {
                                                    var db = new MallProject.Models.MallManagementEntities();
                                                    var Model = db.AdminMallMsgTbls.Where(x => x.WhoStatus == true && x.AdminViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                                    if (Model.Count > 0)
                                                    {
                                                        Html.RenderPartial("ViewMsgAdminOwnerPartial", Model);
                                                    }
                                                    else
                                                    {
                                                        <h1>No Messages</h1>
                                                    }
                                                }


                                            }
                                        }
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
