﻿
    @model MallProject.Models.ViewModel.AdminMallMsgModel

@{
    ViewBag.Title = "SendMsgAdminOwnerReply";
}
@using (Html.BeginForm("SendMsgAdminOwnerPartial", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="table table-filter table-hover">

        <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.Msg, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextAreaFor(m => m.Msg, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Msg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="Send" class="btn btn-primary" />

                <input type="button" value="Cancel" class="btn btn-primary"
                       onclick="location.href='@Request.UrlReferrer'" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.MallID)

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




