﻿@*@model IEnumerable<MallProject.Models.AdminMallTransactionTbl>*@
@model MallProject.Models.ViewModel.AdminMallTransactionModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "ViewAdminOwnerTransactions";
}

@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
<h2>Transactions...</h2>
@*<div align="right">
        @if (User.IsInRole("MallOwner"))
        {
            <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndexAdminSpace", "MallOwner") + "'");" />
        }
        else
        {
            <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("AdminIndex", "Admin") + "'");" />
        }
    </div>



    @using (Html.BeginForm("RemoveAdminMallTransaction", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <table class="table table-hover table-striped table-responsive">
            <tr>
                <th>
                    MALL
                </th>
                <th>
                    AMOUNT
                </th>
                <th>
                    DATE OF PAYMENT
                </th>
                <th>
                    PAYMENT MODE
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @{
                            var db = new MallProject.Models.MallManagementEntities();
                            var MallList = db.MallTbls.ToList();
                            foreach (var id in MallList)
                            {
                                if (item.MallID == id.MallID)
                                {


                                    @Html.DisplayFor(modelItem => id.MallName)

                                }
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMode)
                    </td>
                    <td >
                        @if (User.IsInRole("Admin"))
                        {
                            <input type="button" class="btn btn-default" value="Generate Receipt" onclick="@("window.location.href='" + @Url.Action("GetSlip", "Admin",new { AdminMallTransactionID=item.AdminMallTransactionID}) + "'");" />
                        }
                    </td>
                    <td align="right">
                        <input type="checkbox" name="ids" value="@item.AdminMallTransactionID" />

                    </td>

                </tr>


                            }
        </table>
        <div>
            <input type="submit" class="btn btn-primary" style="float:right; margin-right:10px;" value="Delete" onclick="return confirm('Are sure wants to delete?');" />
        </div>
                            }*@

<div align="right">
    @if (User.IsInRole("MallOwner"))
    {
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndexAdminSpace", "MallOwner") + "'");" />
    }
    else
    {
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("AdminIndex", "Admin") + "'");" />
    }
</div>



    @using (Html.BeginForm("ViewAdminOwnerTransaction", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="form-group">
            <h4 style="color:black"><b>@Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })</b></h4>
            <div class="col-xs-12 col-md-5">
                @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-12 col-lg-offset-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    }


@{

    var MallID = Request.QueryString["MallID"];
    var MallIDInt32 = Convert.ToInt32(MallID);
    var db = new MallProject.Models.MallManagementEntities();
    var Transaction2 = new List<MallProject.Models.AdminMallTransactionTbl>();

    if (User.IsInRole("Admin"))
    {
        if (MallID == null)
        {
            Transaction2 = db.AdminMallTransactionTbls.Where(x => x.AdminViewStatus != false).OrderByDescending(x => x.DatePaid).ToList();
        }
        else
        {
            Transaction2 = db.AdminMallTransactionTbls.Where(x => x.AdminViewStatus != false && x.MallID==MallIDInt32).OrderByDescending(x => x.DatePaid).ToList();
        }
    }
    else
    {
        if (MallID == null)
        {
            var MallOwnerID = User.Identity.GetUserId();
            var Mall = db.MallTbls.Where(x => x.MallOwnerID == MallOwnerID).ToList();
            var Transaction = db.AdminMallTransactionTbls.Where(x => x.MallViewStatus != false).OrderByDescending(x => x.DatePaid).ToList();
            foreach (var id in Mall)
            {
                foreach (var id2 in Transaction)
                {
                    if (id.MallID == id2.MallID)
                    {
                        Transaction2.Add(id2);
                    }
                }
            }
        }
        else
        {
            Transaction2 = db.AdminMallTransactionTbls.Where(x => x.MallViewStatus != false && x.MallID == MallIDInt32).OrderByDescending(x => x.DatePaid).ToList();
        }
    }


    if (Transaction2.Count() > 0)
    {
        using (Html.BeginForm("RemoveAdminMallTransaction", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <table class="table table-hover table-striped table-responsive">
                <tr>
                    <th>
                        MALL
                    </th>
                    <th>
                        AMOUNT
                    </th>
                    <th>
                        DATE OF PAYMENT
                    </th>
                    <th>
                        PAYMENT MODE
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Transaction2)
                {
                    <tr>

                        <td>
                            @{

                                var MallList = db.MallTbls.ToList();
                                foreach (var id in MallList)
                                {
                                    if (item.MallID == id.MallID)
                                    {


                                        @Html.DisplayFor(modelItem => id.MallName)

                                    }
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatePaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMode)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <input type="button" class="btn btn-default" value="Generate Receipt" onclick="@("window.location.href='" + @Url.Action("GetSlip", "Admin", new { AdminMallTransactionID = item.AdminMallTransactionID }) + "'");" />
                            }
                        </td>
                        <td align="right">
                            <input type="checkbox" name="ids" value="@item.AdminMallTransactionID" />

                        </td>

                    </tr>


                                }
            </table>
            <div>
                <input type="submit" class="btn btn-primary" style="float:right; margin-right:10px;" value="Delete" onclick="return confirm('Are sure wants to delete?');" />
            </div>
                                    }
                                }
                                else
                                {
                                    <div align="center"><h2>No Records!</h2></div>
                                }


}
