﻿
@model IEnumerable<MallProject.Models.MallCategoryTbl>
@{
    ViewBag.Title = "ViewCategory";
}


@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
        }
    }
    <body>

        <div>

            <input type="button" class="btn btn-primary" style="float: right;" value="Back" onclick="@("window.location.href='" + @Url.Action("AdminIndex", "Admin") + "'");" />
            <h3> @Html.ActionLink("Add Category", "AddCategory")</h3>
        </div>

        <table class="table table-hover table-striped table-responsive">
            <tr>
                <th>
                    CATEGORY ID
                </th>
                <th>
                    SQFT RANGE
                </th>
                <th>
                    NAME
                </th>
                <th>
                    AMOUNT
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MallCategoryID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MallCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>

                        @Html.ActionLink("Remove", "RemoveCategory", new { MallCategoryID = item.MallCategoryID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                        |@Html.ActionLink("Edit", "EditCategory", new { MallCategoryID = item.MallCategoryID })
                    </td>
                </tr>
            }
        </table>

    </body>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }




