﻿@using MallProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}  



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="~/AdminTemplate/assets/img/metis-tile.png" />

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />

    <!-- Metis core stylesheet -->
    <link rel="stylesheet" href="~/AdminTemplate/assets/css/main.min.css">
    <style>
        .text-danger {
            color: #e5423d;
        }
    </style>
</head>
<body class="login">
    <div class="form-signin">
        <div class="text-center">
            <img src="~/Content/PulseGym.jpg" alt="Metis Logo" style="width: 88px;border-radius: 50%;">
        </div>
        <hr>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="tab-content">
                <div id="login" class="tab-pane active">
                    <form action="index.html">
                        <p class="text-muted text-center">
                            Enter your Username and Password
                        </p>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter User Name" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <br />
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe) Remember Me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
                <div id="forgot" class="tab-pane">
                    <form action="index.html">
                        <p class="text-muted text-center">Enter your valid e-mail</p>
                        <input type="email" placeholder="mail@domain.com" class="form-control">
                        <br>
                        <button class="btn btn-lg btn-danger btn-block" type="submit">Recover Password</button>
                    </form>
                </div>
                <div id="signup" class="tab-pane">
                    <form action="index.html">
                        <input type="text" placeholder="username" class="form-control top">
                        <input type="email" placeholder="mail@domain.com" class="form-control middle">
                        <input type="password" placeholder="password" class="form-control middle">
                        <input type="password" placeholder="re-password" class="form-control bottom">
                        <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
                    </form>
                </div>
            </div>
            <hr>
            @*<div class="text-center">
                    <ul class="list-inline">
                        <li> <a class="text-muted" href="#login" data-toggle="tab">Login</a>  </li>
                        <li> <a class="text-muted" href="#forgot" data-toggle="tab">Forgot Password</a>  </li>
                        <li> <a class="text-muted" href="#signup" data-toggle="tab">Signup</a>  </li>
                    </ul>
                </div>*@
        }
    </div>

    <!--jQuery -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

    <!--Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('.list-inline li > a').click(function () {
                    var activeForm = $(this).attr('href') + ' > form';
                    //console.log(activeForm);
                    $(activeForm).addClass('animated fadeIn');
                    //set timer to 1 seconds, after that, unload the animate animation
                    setTimeout(function () {
                        $(activeForm).removeClass('animated fadeIn');
                    }, 1000);
                });
            });
        })(jQuery);
    </script>
</body>
</html>