﻿
.body1 {
    background: url('bb.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}
.body2 {
   
    background: url('') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}


/*.logo {
    width: 213px;
    height: 36px;
    background: url('gg.png') no-repeat;
    margin: 30px auto;
}*/

.login-block {
    width: 500px;
    padding: 20px;
    /*background: #346392;*/
    border-radius: 5px;
    border-top: 5px solid #f38c0c;
    margin: 0 auto;
}

    .login-block h1 {
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .login-block input {
        margin-left: 90px;
        width: 400px;
        height: 50px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        font-size: 14px;
        color: #373535;
        font-family: Montserrat;
        background-color: #e7eef6;
        padding: 0 20px 0 50px;
        outline: none;
    }

.text-danger {
    text-align: center;
    margin-left:100px;
    color: #ffffff;
}

.un {
    background: #fff url('un.png') 20px top no-repeat;
    background-size: 16px 100px;
}


.ps {
    background: #fff url('ps.png') 20px top no-repeat;
    background-size: 16px 100px;
}



.login-block input:active, .login-block input:focus {
    border: 1px solid #f38c0c;
}

.login-block button {
    width: 100%;
    height: 60px;
    background: #27496d;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #f38c0c;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

    .login-block button:hover {
        background: #373535;
    }


  /*
       For Main Page.....................--------------------------------------------------------------------*/
.main-page-button {
    width: 200px;
    height: 60px;
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    font-family: Montserrat;
    background-color: #808080;
    background-image: linear-gradient(top, #6496c8, #346392);
    box-shadow: inset 0 0 0 1px #ccc;
    border: none;
    border-radius: 300px;
}

    .main-page-button:hover,
    main-page-button.hover {
        box-shadow: inset 0 0 0 3px #fff,0 7px 20px #ffffff;
    }

    .main-page-button:active,
    main-page-button.active {
        box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
    }



   /*
       For Buttonssss.....................--------------------------------------------------------------------*/
       a:hover, a:focus {
  color: #2a6496;
  text-decoration: none;
}
.square-service-block{
	position:relative;
	overflow:hidden;
	margin:15px auto;
	}
.square-service-block a {
  background-color: #373535;
  /*#808080*/
  border-radius: 50px;
  display: block;
  padding: 50px 20px;
  text-align: center;
  width: 100%;
}
.square-service-block a:hover{
  background-color: #193047;
  /*rgba(231, 76, 60, 0.8)*/
  border-radius: 5px;
}

.ssb-icon {
  color: #fff;
  display: inline-block;
  font-size: 28px;
  margin: 0 0 20px;
}

h2.ssb-title {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  margin:0;
  padding:0;
  text-transform: uppercase;
}

  


 /*.panel {
	border: 2px solid #ddd;
	background-color:#fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}*/
/*for action link*/
/*.edit
{
    background: url(~/Content/edit.png) no-repeat ;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text *
}
.delete
{
    background: url(~/Content/delete.png) no-repeat top left;
     display: block;
     width: 5px;
     height: 5px;
     text-indent: -9999px; /* hides the link text 
}

.gotosite
{
    background: url(~/Content/gotosite.png) no-repeat top left;
     display: block;
     width: 5px;
     height: 5px;
     text-indent: -9999px; 
}




/*user view in block------------------------------------------------------------------------------------------------*/
.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  top:5px;
  border-radius: 18px;
  text-align: center;
  padding:0;
  background-color: rgba(0, 0, 0,0.400);
  /*#284c79*/
  color:#ffffff;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
   background-color: rgba(0, 0, 0,0.500);
  /*background-color: #193047;*/
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}


  /*table for my projct------------------------------------------------------------------------------------*/
/*table hover*/

  	.hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	
	
    .hoverTable tr:hover {
          background-color: rgba(0, 0, 0, 0.45);
    }
 
   
  	.Table{
		width:100%; 
		border-collapse:collapse; 
     
}
      
		
	/* Define the default color for all the table rows */
   
	.Table tr{
		background: rgba(0, 0, 0, 0.45);
	}
	/* Define the hover highlight color for the table row */
    .Table tr:hover {
          background-color: rgba(0, 0, 0,0.666);
    }

   
    /*
        for message box...--------------------------------------------------------------------------------------------------
    */

    .panel {
	border: 2px solid #ddd;
	background-color:rgba(0, 0, 0,0.444);
}

.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: rgba(0, 0, 0,0.444);
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0,0.500);
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align:middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}

/*.ckbox  {
	
	width: 18px;
	height: 18px;
	display: block;
	
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}*/



.table-filter .media-photo {
	width: 35px;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
	font-size: 13px;
	color: #ffffff;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 17px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.pagado {
	color: #5cb85c;
}
.table-filter .media .title span.pendiente {
	color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
	color: #d9534f;
}
.table-filter .media .summary {
	font-size: 15px;
    color:white;
   
    
}



/*payment css..............------------------------,........................................................*/



/* images*/
.cards ol, .cards ul {
  list-style: none;
}
.hand {
  cursor: pointer;
  cursor: pointer;
}
.cards{
    padding-left:0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards .mastercard {
  background-position: -51px 0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards .amex {
  background-position: -102px 0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards li:last-child {
  margin-right: 0;
}
/* images end */




.panel {
    border-radius: 1px;
}
.panel-info > .panel-heading {
    color: #eee;
    border-color: #999;
}
.panel-info > .panel-heading {
    background-image: linear-gradient(to bottom, #555 0px, #888 100%);
}




/*For Payment Slip.........................................................................................................*/
.text-danger strong {
    		color: #9f181c;
		}
		.receipt-main {
			background: #ffffff none repeat scroll 0 0;
			border-bottom: 12px solid #333333;
			border-top: 12px solid #9f181c;
			margin-top: 50px;
			margin-bottom: 50px;
			padding: 40px 30px !important;
			position: relative;
			box-shadow: 0 1px 21px #acacac;
			color: #333333;
			font-family: open sans;
		}
		.receipt-main p {
			color: #333333;
			font-family: open sans;
			line-height: 1.42857;
		}
		.receipt-footer h1 {
			font-size: 15px;
			font-weight: 400 !important;
			margin: 0 !important;
		}
		.receipt-main::after {
			background: #414143 none repeat scroll 0 0;
			content: "";
			height: 5px;
			left: 0;
			position: absolute;
			right: 0;
			top: -13px;
		}
		.receipt-main thead {
			background: #414143 none repeat scroll 0 0;
		}
		.receipt-main thead th {
			color:#fff;
		}
		.receipt-right h5 {
			font-size: 16px;
			font-weight: bold;
			margin: 0 0 7px 0;
		}
		.receipt-right p {
			font-size: 12px;
			margin: 0px;
		}
		.receipt-right p i {
			text-align: center;
			width: 18px;
		}
		.receipt-main td {
			padding: 9px 20px !important;
		}
		.receipt-main th {
			padding: 13px 20px !important;
		}
		.receipt-main td {
			font-size: 13px;
			font-weight: initial !important;
		}
		.receipt-main td p:last-child {
			margin: 0;
			padding: 0;
		}	
		.receipt-main td h2 {
			font-size: 20px;
			font-weight: 900;
			margin: 0;
			text-transform: uppercase;
		}
		.receipt-header-mid .receipt-left h1 {
			font-weight: 100;
			margin: 34px 0 0;
			text-align: right;
			text-transform: uppercase;
		}
		.receipt-header-mid {
			margin: 24px 0;
			overflow: hidden;
		}
		
		#container {
			background-color: #dcdcdc;
		}



        /*Mall Register-----------------------------------------------------------------------*/

      .agileits-register {
    width: 100%;
    
    padding: 3em;
 background: #ffffff;
    float: left;
    margin-left: 1em;
}

     