﻿.body2 {
   
    background: url('') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}
                /*Registration.....................................................................................*/

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}

ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

/*--header--*/
/*.header-w3l h1 {
    font-size: 3em;
    color: #fff;
    font-family: 'Tangerine', cursive;
    padding: .3em 0;
    text-shadow: 2px 3px 3px #E91E63;
    font-weight: 600;
    letter-spacing: 2px;
}*/
/*--//header--*/
/*--main--*/
::-webkit-input-placeholder {
	color: #fff;  
} 
:-moz-placeholder { /* Firefox 18- */
   color: #fff; 
} 
::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
} 
:-ms-input-placeholder {  
   color: #fff;  
} 
/*Pannel*/
.agileits-register {
    width: 60%;
    /*background: rgba(244, 246, 299, 0.8);*/
    background:#ffffff;
    padding: 3em;
    margin: 0 auto;
    float: left;
    margin-left: 12em;
}
/*-- for textbox --*/
.w3_modal_body_grid span {
    float: left;
    width: 50%;
    text-align: left;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 10px;
    font-size: .9em;
}
select#w3_country, .w3_modal_body_grid input[type="text"], .w3_modal_body_grid input[type="email"], #w3_country1, .w3_modal_body_grid input[type="password"] {
    width: 60%;
    font-size: .9em;
    outline: none;
    border: 1px solid #fff;
    padding: .9em .7em;
    letter-spacing: 1px;
    color: #fff;
    background: rgba(0, 0, 0, 0.77);
    float: right;
}
select#w3_country, #w3_country1 {
    width: 59.4%;
}
.w3_modal_body_grid select {
    font-size: .9em;
    padding: .7em;
}
select#w3_country option ,select#w3_country1 option {
	color:#fff;
}
.w3_modal_body_grid1{
	margin: 12px 0;
}
#w3_country1{
	margin-bottom:12px;
}
.colr {
    color:black;
    float: left;
    margin-right: 0em;
}
/*for radio buttn*/
label.radio {
    font-size: .15em;
    font-weight: 500;
    color: #fff;
    padding-left: 18px;
	position: relative;
    margin: 0;
    letter-spacing: 1px;
   
}


.w3_gender {
    float: left;   
    margin: 0.6em 0 0;
	position: relative;
   font-size:20px;
}
/*For pannel*/
.agileits-register input[type="submit"] {
    outline: none;
    padding: .9em 2em;
    letter-spacing: 1px;
    font-size: .9em;
    color: #fff;
    border: none;
    background: #1580f1;
    margin: 10px 0 0;
	cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
     margin-left: 170px;
}
/*for agree terms*/
label.agileits-agree {
    margin-left: 4px;
    letter-spacing: 1px;
    font-size: 20px;
    color: #000;
  
    vertical-align: central;
    font-weight: normal;
    margin: 1em 0;
    display: inline-block;
}
label.agileits-agree a {
    text-decoration: underline;
    color: #ec3434;
}
/*for register button*/
.agileits-register input[type="submit"]:hover {
	background:#ec3434;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
p.w3ls-login {
    text-align: center;
    margin-top: 15px;
}
p.w3ls-login a:hover {
	text-decoration:underline;
	color: #ec3434;
}
/*-- //for sub image --*/
/*.banner-left {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: -47.5%;
    z-index: -9;
}
.banner-left img {
    display: block;
}*/
.footer h2 {
    font-size: .9em;
    color: #fff;
    letter-spacing: 2px;
}
.footer h2 a{
    color:#ec3434;
}
.footer {
    padding: 2em 0;
}


/*--responsive--*/

