﻿@model MallProject.Models.ViewModel.EventViewModel
@{
    ViewBag.Title = "AddEvent";
}
@using (Html.BeginForm("AddEvent", "MallOwner", FormMethod.Post, new { @*enctype = "multipart/form-data",*@ @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Add New Event...</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(m => m.EventName, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.EventName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EventName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MallID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PersonName, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.PersonName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PersonName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhnNo, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.PhnNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PhnNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    
    @*<div class="form-group">
        <label for="exampleFormControlFile1" class="col-md-2 control-label">Image:</label>
        <input type="file" name="MyImage" class="form-control-file" id="exampleFormControlFile1">
    </div>*@


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Add Now" />
            <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("ViewEvent", "MallOwner") + "'");" />
        </div>
    </div>



}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<script src="~/Scripts/DateTimePicker/moment.js">
    </scripts>
    <link href="~/Scripts/DateTimePicker/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/DateTimePicker/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.min.js"> </script>
    <script>
        $(function () {
            $('.TimePicker').bootstrapMaterialDatePicker(
                {
                    format: "DD-MM-YYYY",
                    time: false
                });
        });
        </script>*@
