﻿
@using Microsoft.AspNet.Identity;
@model MallProject.Models.MallEmpMsgTbl
@{
    ViewBag.Title = "ComplaintToMallOwner";
}
@Styles.Render("~/Content/Mall.css")
<body class="body">
    <h2>MESSAGE BOX</h2>
    <p align="right">
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallEmpIndex", "MallOwner") + "'");" />
    </p>
    <div>
        
        <div class="container">
            <div class="row">
              
                    <div class="col-md-12 col-md-offset-0">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="btn-group">
                                    @using (Html.BeginForm("ComplaintToMallOwner", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:780px;" value="Send Message" />
                                        <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:10px;" value="Inbox" />
                                        <input type="submit" class="btn btn-default" name="command" style="float: right;margin-right:10px;" value="Send Items" />
                                    }
                                </div>

                                <div class="table-container">
                                    @{
                                        if (TempData["Message"] != null)
                                        {
                                            <script type="text/javascript">
                                            window.onload = function () {
                                                alert('@TempData["Message"]');
                                            };
                                            </script>
                                        }
                                        var MallEmpID = User.Identity.GetUserId();
                                        var db = new MallProject.Models.MallManagementEntities();
                                        if (!IsPost)
                                        {
                                            using (Html.BeginForm("RemoveMsg2", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                               
                                                var Model = db.MallEmpMsgTbls.Where(x => x.WhoStatus == true && x.EmpViewStatus != false && x.MallEmpID == MallEmpID).OrderByDescending(x => x.DatePosted).ToList();

                                                if (Model.Count > 0)
                                                {
                                                    Html.RenderPartial("ViewMsgOwnerEmpPartial", Model);
                                                }
                                                else
                                                {
                                                    <h1>No Messages</h1>
                                                }
                                            }
                                        }


                                        if (IsPost)
                                        {
                                            using (Html.BeginForm("SendOwnerEmpMsg", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                if (Request["command"].Equals("Send Message"))
                                                {
                                                   
                                                    <div class="tabel table-filter table-hover">

                                                        <hr />
                                                        <div class="form-group">
                                                            <h5 style="color:white"> @Html.LabelFor(m => m.Msg, new { @class = "col-md-2 control-label" })</h5>
                                                            <div class="col-xs-12 col-md-5">
                                                                @Html.HiddenFor(m => m.MallEmpID)
                                                                @Html.TextAreaFor(m => m.Msg, new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(m => m.Msg, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-offset-2 col-md-10">

                                                                <input type="submit" value="Send" class="btn btn-primary" />

                                                                <input type="button" value="Cancel" class="btn btn-primary"
                                                                       onclick="location.href='@Request.UrlReferrer'" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                }
                                            }

                                            using (Html.BeginForm("RemoveMsg2", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                if (Request["command"].Equals("Inbox"))
                                                {
                                                    
                                                    var Model = db.MallEmpMsgTbls.Where(x => x.WhoStatus == true && x.EmpViewStatus != false && x.MallEmpID == MallEmpID).OrderByDescending(x => x.DatePosted).ToList();
                                                    if (Model.Count > 0)
                                                    {
                                                        Html.RenderPartial("ViewMsgOwnerEmpPartial", Model);
                                                    }
                                                    else
                                                    {
                                                        <h1>No Messages</h1>
                                                    }
                                                }

                                                else if (Request["command"].Equals("Send Items"))
                                                {
                                                   
                                                    var Model = db.MallEmpMsgTbls.Where(x => x.WhoStatus == false && x.EmpViewStatus != false && x.MallEmpID == MallEmpID).OrderByDescending(x => x.DatePosted).ToList();
                                                    if (Model.Count > 0)
                                                    {
                                                        Html.RenderPartial("ViewMsgOwnerEmpPartial", Model);
                                                    }
                                                    else
                                                    {
                                                        <h1>No Messages</h1>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
            
            </div>
        </div>
    </div>
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }




