﻿@using Microsoft.AspNet.Identity;

@model MallProject.Models.AdminMallMsgTbl
@{
    ViewBag.Title = "ComplaintToAdmin";
}
@Styles.Render("~/Content/Mall.css")
<body class="body2">
    <h2>MESSAGE BOX</h2>
    <p align="right">
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndexAdminSpace", "MallOwner") + "'");" />
    </p>
    <div>
        
        <div class="container">
            <div class="row">
                
                    <div class="col-md-12 col-md-offset-0">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="btn-group">
                                    @using (Html.BeginForm("ComplaintToAdmin", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:780px;" value="Send Message" />
                                        <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:10px;" value="Inbox" />
                                        <input type="submit" class="btn btn-default" name="command" style="float: right;margin-right:10px;" value="Send Items" />
                                    }
                                </div>

                                <div class="table-container">

                                    @{
                                        if (TempData["Message"] != null)
                                        {
                                            <script type="text/javascript">
                                                window.onload = function () {
                                                    alert('@TempData["Message"]');
                                                };
                                            </script>
                                        }
                                        var MallOwnerID = User.Identity.GetUserId();
                                        var db = new MallProject.Models.MallManagementEntities();
                                        var MallList = db.MallTbls.Where(x => x.MallOwnerID == MallOwnerID).ToList();
                                        if (!IsPost)
                                        {
                                            using (Html.BeginForm("RemoveMsg", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                               
                                                var MsgList = db.AdminMallMsgTbls.Where(x => x.WhoStatus == true && x.MallViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                                var Model = new List<MallProject.Models.AdminMallMsgTbl>();
                                                foreach (var Msg in MsgList)
                                                {
                                                    var CheckMall = MallList.Where(x => x.MallID == Msg.MallID).ToList();
                                                    if (CheckMall.Count() > 0)
                                                    {
                                                        Model.Add(Msg);
                                                    }
                                                }
                                                if (Model.Count > 0)
                                                {
                                                    Html.RenderPartial("ViewMsgAdminOwnerPartial", Model);
                                                }
                                                else
                                                {
                                                    <h1>No Messages</h1>
                                                }

                                            }
                                        }
                                        if (IsPost)
                                        {

                                            using (Html.BeginForm("SendMsgAdminOwnerPartial", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                if (Request["command"].Equals("Send Message"))
                                                {

                                                    Html.RenderPartial("SendMsgAdminOwnerPartial");

                                                }
                                            }

                                            using (Html.BeginForm("RemoveMsg", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                if (Request["command"].Equals("Inbox"))
                                                {                                                   
                                                    var MsgList = db.AdminMallMsgTbls.Where(x => x.WhoStatus == true && x.MallViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                                    var Model = new List<MallProject.Models.AdminMallMsgTbl>();
                                                    foreach (var Msg in MsgList)
                                                    {
                                                        var CheckMall = MallList.Where(x => x.MallID == Msg.MallID).ToList();
                                                        if (CheckMall.Count() > 0)
                                                        {
                                                            Model.Add(Msg);
                                                        }
                                                    }
                                                    if (Model.Count > 0)
                                                    {
                                                        Html.RenderPartial("ViewMsgAdminOwnerPartial", Model);
                                                    }
                                                    else
                                                    {
                                                        <h1>No Messages</h1>
                                                    }
                                                }

                                                else if (Request["command"].Equals("Send Items"))
                                                {
                                                    
                                                    var MsgList = db.AdminMallMsgTbls.Where(x => x.WhoStatus == false && x.MallViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                                    var Model = new List<MallProject.Models.AdminMallMsgTbl>();
                                                    foreach (var Msg in MsgList)
                                                    {
                                                        var CheckMall = MallList.Where(x => x.MallID == Msg.MallID).ToList();
                                                        if (CheckMall.Count() > 0)
                                                        {
                                                            Model.Add(Msg);
                                                        }
                                                    }
                                                    if (Model.Count > 0)
                                                    {
                                                        Html.RenderPartial("ViewMsgAdminOwnerPartial", Model);
                                                    }
                                                    else
                                                    {
                                                        <h1>No Messages</h1>
                                                    }
                                                }
                                            }
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>               
            </div>
        </div>
    </div>
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
