﻿@model MallProject.Models.ViewModel.MallEmpViewModel
@{
    ViewBag.Title = "EmpListViewSearch";
}
@Styles.Render("~/Content/Mall.css")
<body class="body">
    @{if (TempData["Message"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert('@TempData["Message"]');
                };
            </script>
        }
    }
    <h2 style="color:black">
        Employee List
    </h2>

    <div align="right">
            <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndexEmpSpace", "MallOwner") + "'");" />
        </div>
   
    @using (Html.BeginForm("EmpListViewSearch", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@


        <div class="form-group">
            <h4 style="color:black"><b>@Html.LabelFor(m => m.MallName, new { @class = "col-md-2 control-label" })</b></h4>
            <div class="col-xs-12 col-md-5">
                @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
            </div>
        </div>
            <div class="form-group">
                <h4 style="color:black"><b>@Html.LabelFor(m => m.Post, new { @class = "col-md-2 control-label" })</b></h4>
                <div class="col-xs-12 col-md-5">
                    @Html.DropDownListFor(x => x.Post, new SelectList(ViewBag.EmpPostVar, "Post", "Post"), "-- Select Post --", new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <h4 style="color:black"><b>@Html.LabelFor(m => m.EmpName, new { @class = "col-md-2 control-label" })</b></h4>
                <div class="col-xs-12 col-md-5">
                    <input type="search" name="EmpName" style="width:275px;" class="form-control" placeholder="Search By Name" />
                    @* <input type="submit" value="Search" class="btn btn-primary" />*@
                </div>
            </div>
            <div class="col-xs-12 col-lg-offset-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
    }
    @{
        var MallID = Request.QueryString["MallID"];
        var Post = Request.QueryString["Post"];
        var EmpName = Request.QueryString["EmpName"];
        var Employee = new List<MallProject.Models.MallEmpDetailsTbl>();
        if (MallID != null && Post == null && EmpName == null)
        {
            var MallIDInt32 = Convert.ToInt32(MallID);
            var db = new MallProject.Models.MallManagementEntities();
            Employee = db.MallEmpDetailsTbls.Where(x => x.MallID == MallIDInt32).ToList();
          
        }
        else if (Post != null && MallID != null && EmpName == null)
        {
            var MallIDInt32 = Convert.ToInt32(MallID);
            var db = new MallProject.Models.MallManagementEntities();
            var EmpList = db.MallEmpDetailsTbls.Where(x => x.MallID == MallIDInt32).ToList();
            var CheckPost = db.EmpPostTbls.Where(x => x.Post == Post).ToList();
            foreach (var post in CheckPost)
            {
                var id = post.EmpPostID;
                Employee = EmpList.Where(x => x.EmpPostID == id).ToList();
               
            }
        }
        else if (EmpName != null && MallID != null && Post == null)
        {
            var MallIDInt32 = Convert.ToInt32(MallID);
            var db = new MallProject.Models.MallManagementEntities();
            var EmpList = db.MallEmpDetailsTbls.Where(x => x.MallID == MallIDInt32).ToList();
            Employee = EmpList.Where(x => x.EmpName == EmpName).ToList();
          
        }


        if (Employee.Count() > 0)
        {

            using (Html.BeginForm("EmpListViewSearch", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {


            @Html.AntiForgeryToken()

            <table class="table Table  table-responsive">

                <tr>
                    <th>
                    </th>
                    <th>
                        <h4 style="color:black"><b>NO</b></h4>
                    </th>
                    <th></th>

                    <th>
                        <h4 style="color:black"><b> NAME</b></h4>
                    </th>
                    <th>
                        <h4 style="color:black"> <b> MALL ID</b></h4>
                    </th>
                    <th></th>

                    <th>
                        <h4 style="color:black">  <b>PHONE NO</b></h4>
                    </th>
                    <th></th>

                </tr>

                @foreach (var item in Employee)
                {
                    <tr>
                        <td>
                            @if (item.Img == null)
                            {
                                <img src="~/Uploads/default.png" style="width: 90px; height: 90px;" />
                            }

                            else
                            {

                                <img src="~/Uploads/MallEmp/@item.Img" style="width: 90px; height: 90px;" alt="@item.Img">
                            }

                        </td>

                        <td>
                            <h4 style="color:black"> @Html.DisplayFor(modelItem => item.MallEmpDetailsID)</h4>
                        </td>
                        <td></td>

                        <td>
                            <h4 style="color:black"> @Html.DisplayFor(modelItem => item.EmpName)</h4>
                        </td>
                        <td>
                            <h4 style="color:black">  @Html.DisplayFor(modelItem => item.MallID)</h4>
                        </td>
                        <td></td>
                        <td>
                            <h4 style="color:black"> @Html.DisplayFor(modelItem => item.PhnNo)</h4>
                        </td>

                        <td>
                            <div class="btn btn-default">
                                @Html.ActionLink("SendMessage", "SendOwnerEmpMsg", new { MallEmpID = item.MallEmpID })
                            </div>
                            <div class="btn btn-default">
                                @Html.ActionLink("Details", "EmpProfileView", new { MallEmpID = item.MallEmpID })
                            </div>
                            <div class="btn btn-default">
                                @Html.ActionLink("Pay Salary", "PayEmpSalary", new { MallEmpID = item.MallEmpID })
                            </div>
                            <div class="btn btn-default">
                                @Html.ActionLink("Remove", "RemoveEmp", new { MallEmpID = item.MallEmpID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                            </div>
                        </td>

                    </tr>
                }

            </table>
        }

        <div align="right">
            <div class="col-md-offset-2 col-md-10">

                <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("EmpListViewSearch", "MallOwner") + "'");" />
            </div>
        </div>


        }
        else if(Employee.Count()==0 &&MallID!=null)
        {
            <div align="center"><h2>No Records!</h2></div>
        }

    }
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

