﻿@model MallProject.Models.MallEmpDetailsTbl
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "EmpProfileView";
}
<h2 style="color:white">Profile...</h2>
@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
<div align="right">

    @{if (User.IsInRole("MallOwner"))
        {

            @*<input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("EmpListViewSearch", "MallOwner") + "'");" />*@
            <input type="button" value="BACK" class="btn btn-primary"
                   onclick="location.href='@ViewBag.pre'" />
        }
        else
        {

            <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallEmpIndex", "MallOwner") + "'");" />
        }
    }
   
</div>
@Styles.Render("~/Content/Mall.css")
<body class="body">

    <hr />

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


                <div class="panel panel-info" style="background-color:white;font-family:'Arial Unicode MS'">
                    <div class="panel-heading" style="background-color:powderblue">
                        <h3 class="panel-title">@Html.DisplayFor(model => model.EmpName)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3" align="center">
                                @if (Model.Img == null)
                                {
                                    <img src="~/Uploads/default.png" style="width: 130px; height: 130px;" />
                                }

                                else
                                {

                                    <img src="~/Uploads/MallEmp/@Model.Img" style="width: 130px; height: 130px;" alt="@Model.Img">
                                }
                            </div>


                            <div class="col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td><b>NUMBER</b></td>
                                            <td>:@Html.DisplayFor(model => model.MallEmpDetailsID)</td>
                                        </tr>
                                        <tr>
                                            <td><b>NAME</b></td>
                                            <td>:@Html.DisplayFor(model => model.EmpName)</td>
                                        </tr>


                                        <tr>
                                        <tr>
                                            <td><b>MALL NAME</b></td>
                                            <td>
                                                :@{
                                                    var db = new MallProject.Models.MallManagementEntities();
                                                    var MallList = db.MallTbls.ToList();
                                                    foreach (var id in MallList)
                                                    {
                                                        if (Model.MallID == id.MallID)
                                                        {


                                                            @Html.DisplayFor(modelItem => id.MallName)

                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>POST</b></td>
                                            <td>
                                                :@{

                                                    var PostList = db.EmpPostTbls.ToList();
                                                    foreach (var id in PostList)
                                                    {
                                                        if (Model.EmpPostID == id.EmpPostID)
                                                        {


                                                            @Html.DisplayFor(modelItem => id.Post)

                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>SALARY</b></td>
                                            <td>:@Html.DisplayFor(model => model.Salary)</td>
                                        </tr>

                                        <tr>
                                            <td width="200px"><b>ADDRESS</b></td>
                                            <td>:@Html.DisplayFor(model => model.Address)</td>
                                        </tr>

                                        <tr>
                                            <td><b>EMAIL ID</b></td>
                                            <td>:@Html.DisplayFor(model => model.EmailID)</td>
                                        </tr>


                                        <tr>
                                            <td><b>DATE OF BIRTH</b></td>
                                            <td>:@Html.DisplayFor(model => model.DOB)</td>
                                        </tr>

                                        <tr>
                                            <td><b>AGE</b></td>
                                            <td>:@Html.DisplayFor(model => model.Age)</td>
                                        </tr>

                                        <tr>
                                            <td><b>GENDER</b></td>
                                            <td>:@Html.DisplayFor(model => model.Gender)</td>
                                        </tr>
                                        <tr>
                                            <td><b>PHONE NUMBER</b></td>
                                            <td>:@Html.DisplayFor(model => model.PhnNo)</td>
                                        </tr>
                                        <tr>
                                            <td><b>REGISTRATION DATE</b></td>
                                            <td>:@Html.DisplayFor(model => model.RegDate)</td>
                                        </tr>

                                    </tbody>
                                </table>

                                @*<a href="#" class="btn btn-primary">My Sales Performance</a>
                                    <a href="#" class="btn btn-primary">View Malls</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                        <div class="panel-footer">
                            @if (User.IsInRole("MallOwner"))
                            {

                                <a href="mailto:@Html.DisplayFor(model => model.EmailID)" data-original-title="Send Email" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>

                            }
                           
                                @if (User.IsInRole("MallOwner"))
                                {
                                    <span class="pull-right btn btn btn-default">
                                    @Html.ActionLink("Delete", "RemoveMallOwner", new { MallEmpDetailsID = Model.MallEmpDetailsID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                                   </span>

                                }
                                

                            <span class="pull-right">
                                <input type="button" class="btn btn-btn btn-default" value="Edit" onclick="@("window.location.href='" + @Url.Action("EmpProfileEdit", "MallOwner", new { MallEmpID = Model.MallEmpID }) + "'");" />
                            </span>
                                

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <p class="text-info" style="color:white">@DateTime.Now</p>

</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


