﻿@model MallProject.Models.ViewModel.MallEmpViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "EmpDetailsEdit";
}

@using (Html.BeginForm("EmpProfileEdit", "MallOwner", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{ 
        @Html.HiddenFor(model => model.MallEmpDetailsID)
        @Html.HiddenFor(model => model.MallEmpID)

        if (User.IsInRole("MallEmp"))
            {               
                <div class="container" style="padding-top: 10px;">
                    <h1 class="page-header">Edit Profile</h1>
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <img src="~/Uploads/MallEmp/@Model.Img" class="avatar img-circle img-thumbnail" alt="avatar" style="width: 190px; height: 190px;">
                                <h6>Upload a different photo...</h6>
                                <input type="file" name="MyImage" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                        </div>
                        <!-- edit form column -->
                        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                            <div class="alert alert-info alert-dismissable">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <i class="fa fa-coffee"></i>
                                You can <strong>Edit</strong> Your Profile Here.
                            </div>
                            <h3>Personal info</h3>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Name:</label>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.EmpName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EmpName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @{
                                    var db = new MallProject.Models.MallManagementEntities();
                                    var EmpList2 = db.MallEmpDetailsTbls.ToList();
                                    var MallList2 = db.MallTbls.ToList();
                                    foreach (var id in EmpList2)
                                    {
                                        if (Model.MallEmpID == id.MallEmpID)
                                        {
                                            foreach (var id2 in MallList2)
                                            {
                                                if (id.MallID == id2.MallID)
                                                {
                                                    <div class="form-group">
                                                        <label class="col-lg-3 control-label">Mall:</label>
                                                        <div class="col-lg-8">
                                                            @Html.EditorFor(model => id2.MallName, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.MallID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    }

                                    var PostList = db.EmpPostTbls.ToList();
                                    foreach (var id in PostList)
                                    {
                                        foreach (var id3 in EmpList2)
                                        {
                                            if (Model.MallEmpID == id3.MallEmpID)
                                            {

                                                if (id.EmpPostID == id3.EmpPostID)
                                                {
                                                    <div class="form-group">
                                                        <label class="col-lg-3 control-label">Address:</label>
                                                        <div class="col-lg-8">
                                                          @Html.EditorFor(model => id.Post, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Post, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                }
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Address:</label>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Address:</label>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Email ID:</label>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Date Of Birth:</label>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control TimePicker" } })
                                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Age:</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Gender:</label>
                                    <div class="col-md-8">
                                        @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male" })@Html.Label("male", "Male")
                                        @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female" })@Html.Label("female", "Female")
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "red-text" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Phone Number:</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.PhnNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhnNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-8">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                        <span></span>
                                        <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("EmpProfileView", "MallOwner", new { MallEmpID = Model.MallEmpID }) + "'");" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }

        
            else
            {
                  <hr>
                @Html.HiddenFor(model => model.EmpName)
                @Html.HiddenFor(model => model.Address)
                @Html.HiddenFor(model => model.Age)
                @Html.HiddenFor(model => model.DOB)
                @Html.HiddenFor(model => model.EmailID)
                @Html.HiddenFor(model => model.PhnNo)
                @Html.HiddenFor(model => model.Gender)
                <div class="form-group">

                    @Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })
                    <div class="col-xs-12 col-md-5">
                        @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MallID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmpPostID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.EmpPostID, new SelectList(ViewBag.EmpPostVar, "EmpPostID", "Post"), "-- Select Post --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmpPostID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("EmpProfileView", "MallOwner", new { MallEmpID = Model.MallEmpID }) + "'");" />

                    </div>
                </div>
               }
        }         

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/moment.min.js"></script>
<link href="~/Scripts/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.min.js"></script>
<script>

    $(function () {
        $('.TimePicker').bootstrapMaterialDatePicker(
            {
                format: "DD-MM-YYYY",
                time: false
            });
    });
</script>
