﻿
@model MallProject.Models.ViewModel.MallEmpViewModel
@{
    ViewBag.Title = "MallEmpReg";
}
<h1>@ViewBag.MallId</h1>
@using (Html.BeginForm("MallEmpReg", "MallOwner", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", MallId = ViewBag.MallId }))
{
    @Html.AntiForgeryToken()
    <h4>Register New Employee...</h4>
    <hr />



    @*<img src="~/Uploads/MallOwner/@Model.Img" />*@

    <div class="form-group">
        @Html.LabelFor(m => m.EmpName, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.EmpName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmpName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MallID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmpPostID, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.DropDownListFor(x => x.EmpPostID, new SelectList(ViewBag.EmpPostVar, "EmpPostID", "Post"), "-- Select Post --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmpPostID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Salary, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.Salary, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.DOB, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.DOB, new { @class = "form-control TimePicker" })
            @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhnNo, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.PhnNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PhnNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmailID, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmailID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male" })@Html.Label("male", "Male")
            @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female" })@Html.Label("female", "Female")
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "red-text" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <label for="exampleFormControlFile1" class="col-md-2 control-label">Image:</label>
            <input type="file" name="MyImage" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Submit" />
                <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndexEmpSpace", "MallOwner") + "'");" />
            </div>
        </div>


}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/moment.min.js"></script>
<link href="~/Scripts/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />  
<script src="~/Scripts/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.min.js"></script>  
    <script>

    $(function () {
        $('.TimePicker').bootstrapMaterialDatePicker(
            {
                format: "DD-MM-YYYY",
                time: false
            });
    });
        </script>
