﻿@model MallProject.Models.MallOwnerDetailsTbl

@{
    ViewBag.Title = "MallOwnerProfileView";
}

@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function ()
            {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
<h2>Profile</h2>
<div align="right">
    <input type="button" class="btn btn-primary" value="Edit" onclick="@("window.location.href='" + @Url.Action("MallOwnerProfileEdit", "MallOwner",new { MallOwnerID=Model.MallOwnerID }) + "'");"/>
    <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndex", "MallOwner") + "'");" />
</div>
<div>
   
    <hr />
    @*for profile pic....*@

    @if (Model.Img == null)
    {
        <img src="~/Uploads/default.png" style="width: 170px; height: 170px;" />
    }

    else
    {

    <img src="~/Uploads/MallOwner/@Model.Img" style="width: 170px; height: 170px;" />  
    }
    <dl class="dl-horizontal">
        <dt>
          NO
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MallOwnerDetailsID)
        </dd>
      

        <dt>
           NAME
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
           ADDRESS
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
         EMAIL ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
           DATE OF BIRTH
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
           AGE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Gender
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
           PHONE NO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhnNo)
        </dd>
      
    </dl>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
