﻿
@{
    ViewBag.Title = "MallOwnerIndexAdminSpace";
}

<h2>Welcome!</h2>

    <h4>Choose Option</h4>
   @{if (TempData["Message"] != null)
       {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
       }
}
<div align="right">
    <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndex", "MallOwner") + "'");" />

</div>
@using (Html.BeginForm("MallOwnerIndexAdminSpace", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
  
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })



<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="Pay Admin Rent" onclick="@("window.location.href='" + @Url.Action("PayAdminRent", "Admin") + "'");" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="View Transactions" onclick="@("window.location.href='" + @Url.Action("ViewAdminOwnerTransaction", "Admin") + "'");" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="Message Box" onclick="@("window.location.href='" + @Url.Action("ComplaintToAdmin", "MallOwner") + "'");" />
    </div>
</div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


