﻿
@model MallProject.Models.ViewModel.MallEmpViewModel
@{
    ViewBag.Title = "MallOwnerIndex";
}

@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
    <h4>Welcome!Choose Option</h4>
    <hr />
    <div align="right">
    <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndex", "MallOwner") + "'");" />

</div>
@using (Html.BeginForm("MallOwnerIndexAdminSpace", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })




<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="Add Employees" onclick="@("window.location.href='" + @Url.Action("MallEmpReg", "MallOwner") + "'");" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="View Employee List" onclick="@("window.location.href='" + @Url.Action("EmpListViewSearch", "MallOwner") + "'");" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="Pay Employee Salary" onclick="@("window.location.href='" + @Url.Action("PayEmpSalarySearch", "MallOwner") + "'");" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px'value="View Salary Transactions" onclick="@("window.location.href='" + @Url.Action("ViewOwnerEmpPay", "MallOwner") + "'");" />
    </div>
</div>


<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="Message Box" onclick="@("window.location.href='" + @Url.Action("RemarkToEmpPage", "MallOwner") + "'");" />
    </div>
</div>



}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
