﻿
@model MallProject.Models.MallEmpMsgTbl
@{
   ViewBag.Title = "MallEmpMsgDetails";
}

@using Microsoft.AspNet.Identity;

<hr />
<dl class="dl-horizontal">


    <dt>
        MALL NAME:
    </dt>

    <dd>
        @{ var db = new MallProject.Models.MallManagementEntities();
            var EmpList2 = db.MallEmpDetailsTbls.ToList();
            var MallList2 = db.MallTbls.ToList();
            foreach (var id in EmpList2)
            {
                if (Model.MallEmpID == id.MallEmpID)
                {
                    foreach (var id2 in MallList2)
                    {
                        if (id.MallID == id2.MallID)
                        {
                            @Html.DisplayFor(modelItem => id2.MallName);

                        }
                    }
                }
            }
        }
    </dd>

    <dt>
        EMPLOYEE NAME:
    </dt>

    <dd>
        @{



            foreach (var id in EmpList2)
            {
                if (id.MallEmpID == Model.MallEmpID)
                {
                    @Html.DisplayFor(modelItem => id.EmpName);

                }
            }
        }


    </dd>



    <dt>
        POST:
    </dt>
    <dd>
        @{

            var PostList = db.EmpPostTbls.ToList();
            foreach (var id in PostList)
            {
                foreach (var id3 in EmpList2)
                {
                    if (Model.MallEmpID == id3.MallEmpID)
                    {

                        if (id.EmpPostID == id3.EmpPostID)
                        {
                            @Html.DisplayFor(modelItem => id.Post);

                        }
                    }
                }
            }
        }


    <dt>
        DATE POSTED:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DatePosted)
    </dd>

    <dt>
        MESSAGE:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Msg)
    </dd>


</dl>



