﻿@*@model MallProject.Models.ViewModel.MallOwnerViewModel
    @{
        ViewBag.Title = "MallOwnerReg";
    }
    @using (Html.BeginForm("MallOwnerReg", "MallOwner", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create New Account.</h4>
        <hr />



        <div class="form-group">
            @Html.LabelFor(m => m.OwnerName, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.OwnerName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OwnerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.EmailID, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DOB, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.DOB, new { @class = "form-control TimePicker" })
                @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male" })@Html.Label("male", "Male")
                @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female" })@Html.Label("female", "Female")
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "red-text" })
            </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhnNo, new { @class = "col-md-2 control-label" })
                <div class="col-xs-12 col-md-5">
                    @Html.TextBoxFor(m => m.PhnNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhnNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-xs-12 col-md-5">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1" class="col-md-2 control-label">Image:</label>
                <input type="file" name="MyImage" class="form-control-file" id="exampleFormControlFile1">
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Register" />
                    <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("MainPage", "Admin") + "'");" />
                </div>
            </div>
            }
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
            @*<script src="~/Scripts/DateTimePicker/moment.js">
                </scripts>
                <link href="~/Scripts/DateTimePicker/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
                <script src="~/Scripts/DateTimePicker/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.min.js"> </script>
                <script>
                    $(function () {
                        $('.TimePicker').bootstrapMaterialDatePicker(
                            {
                                format: "DD-MM-YYYY",
                                time: false
                            });
                    });
                    </script>*@


@model MallProject.Models.ViewModel.MallOwnerViewModel
@{
    ViewBag.Title = "MallOwnerReg";
}

<h2>Register Here</h2>
@Styles.Render("~/Content/Registration.css")
<body class="body">

    <hr>
    @using (Html.BeginForm("MallOwnerReg", "MallOwner", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()


        @*<div class="center-container">*@
            <!--header-->
            <!--//header-->
            <!--main-->
        <div class="agileits-register" style="background-color:white">

            <div class="w3_modal_body_grid">
                <span style="font-size:16px"><i style="color:red;font-size:25px">*</i>@Html.LabelFor(m => m.OwnerName):</span>
                @Html.TextBoxFor(m => m.OwnerName, new { placeholder = "Your Name", required = "" })

                <div class="clear"> </div>
            </div>
            <div class="w3_modal_body_grid w3_modal_body_grid1">
                <span style="font-size:16px"><i style="color:red;font-size:25px">*</i>@Html.LabelFor(m => m.Address):</span>
                @Html.TextBoxFor(m => m.Address, new { placeholder = "Your Address", required = "" })
                <div class="clear"> </div>
            </div>

            <div class="w3_modal_body_grid w3_modal_body_grid1">
                <span style="font-size:16px"><i style="color:red;font-size:25px">*</i>@Html.LabelFor(m => m.DOB):</span>
                @Html.TextBoxFor(m => m.DOB, new { placeholder = "mm/dd/yy", required = "", @class = "form-control TimePicker" })
                @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
                <div class="clear"> </div>
            </div>
            <div class="w3_modal_body_grid w3_modal_body_grid1">
                <span style="font-size:16px"><i style="color:white;font-size:25px">`</i>@Html.LabelFor(m => m.Age):</span>
                @Html.TextBoxFor(m => m.Age, new { placeholder = "Your Age" })
                <div class="clear"> </div>
            </div>
            <div class="w3_modal_body_grid">
                <span style="font-size:16px"><i style="color:white;font-size:25px">`</i>@Html.LabelFor(m => m.Gender):</span>
                <div class="w3_gender">
                    <div class="colr ert">
                        @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male" })@Html.Label("male", "Male")
                    </div>
                    <div class="colr">
                        @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female" })@Html.Label("female", "Female")
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="w3_modal_body_grid w3_modal_body_grid1">
                <span style="font-size:16px"><i style="color:red;font-size:25px">*</i>@Html.LabelFor(m => m.PhnNo):</span>
                @Html.TextBoxFor(m => m.PhnNo, new { placeholder = "Your Phone Number", required = "" })
                <div class="clear"> </div>
            </div>
            @Html.ValidationMessageFor(m => m.PhnNo, "", new { @class = "text-danger" })
            <div class="w3_modal_body_grid w3_modal_body_grid1">
                <span style="font-size:16px"><i style="color:red;font-size:25px">*</i>@Html.LabelFor(m => m.EmailID):</span>
                @Html.TextBoxFor(m => m.EmailID, new { placeholder = "Your Email", required = "" })
                <div class="clear"> </div>
            </div>
            @Html.ValidationMessageFor(m => m.EmailID, "", new { @class = "text-danger" })
            <div class="w3_modal_body_grid w3_modal_body_grid1">
                <span style="font-size:16px"><i style="color:red;font-size:25px">*</i>@Html.LabelFor(m => m.Password):</span>
                @Html.PasswordFor(m => m.Password, new { placeholder = "********", required = "" })
                <div class="clear"> </div>
            </div>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <div class="w3_modal_body_grid w3_modal_body_grid1">
                <span style="font-size:16px"><i style="color:red;font-size:25px">*</i>@Html.LabelFor(m => m.ConfirmPassword):</span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "********", required = "" })
                <div class="clear"> </div>
            </div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            @*<div class="form-group">*@
            <div class="w3_modal_body_grid w3_modal_body_grid1">
                <span style="font-size:16px"><i style="color:white;font-size:25px">_</i>@Html.LabelFor(m => m.Img):</span>
                <input type="file" name="MyImage" class="form-control-file" style="top:300px" id="exampleFormControlFile1">
                <div class="clear"> </div>
            </div>
            @*</div>*@

            <div class="w3-agree">
                <input type="checkbox" id="c1" name="cc">
                <label class="agileits-agree">I agree to the <a href="#">Terms and Conditions</a></label>
                <div class="clear"> </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Register Here" />
                <input type="button" class="btn btn btn-primary" style="width:90px;height:45px" value="Cancel" onclick="@("window.location.href='" + @Url.Action("MainPage", "Admin") + "'");" />
                <div class="clear"></div>
            </div>
        </div>
            @*<div class="banner-left">
                    <img src="~/Content/reg.png" alt="">
                </div>*@

            <div class="clear"></div>
            <!--//main-->
            <!--footer-->
            <div class="footer">
                <h2>&copy; 2017 Mall Management Register Form. All rights reserved | Design by * Team</h2>
            </div>
            <!--//footer-->
            @*</div>*@
    }
</body>
<script src="~/Scripts/moment.min.js"></script>
<link href="~/Scripts/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.min.js"></script>
<script>

    $(function () {
        $('.TimePicker').bootstrapMaterialDatePicker(
            {
                format: "DD-MM-YYYY",
                time: false
            });
    });
</script>
