﻿@model MallProject.Models.ViewModel.MallOwnerViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "MallOwnerIndex";
}
@Styles.Render("~/Content/Mall.css")
<body class="body">
    @{if (TempData["Message"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert('@TempData["Message"]');
                };
            </script>
        }
    }
    <h2 align="center" style="color:black;">Welcome! @ViewBag.Name</h2>
    @*@using (Html.BeginForm("MallOwnerIndex", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {*@
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @*<div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="View Profile" onclick="@("window.location.href='" + @Url.Action("MallOwnerProfileView", "MallOwner") + "'");" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="button"  class="btn btn-primary" style='width:300px;height:50px' value="Mall List"  onclick="@("window.location.href='" + @Url.Action("MallOwnerMallList", "MallOwner") + "'");" />
                     </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="Register New Mall" onclick="@("window.location.href='" + @Url.Action("MallReg", "MallOwner") + "'");" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="Admin Space" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndexAdminSpace", "MallOwner") + "'");" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="Shop Space" onclick="@("window.location.href='" + @Url.Action("", "MallOwner") + "'");" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="Employee Space" onclick="@("window.location.href='" + @Url.Action("MallOWnerIndexEmpSpace", "MallOwner") + "'");" />
                    </div>
                </div>

            }*@


        <div class="container">
            <div class="panel panel-default">
                @*<div class="panel-body">*@
                <div>
    <div class="col-md-3">
        <div class="square-service-block">
            <a href="MallOwnerProfileView">
                <div class="ssb-icon"><i class="fa-search" aria-hidden="true"></i></div>
                <h2 class="ssb-title">View <br />Profile</h2>
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="square-service-block">
            <a href="MallReg">
                <div class="ssb-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
                <h2 class="ssb-title">Register<br />New Mall</h2>
            </a>
        </div>
    </div>
    @{var db = new MallProject.Models.MallManagementEntities();

        var MallOwnerID = User.Identity.GetUserId();
        var MallList = db.MallTbls.ToList();
        bool Owner = db.MallTbls.Any(x => x.MallOwnerID.Equals(MallOwnerID));
        if (Owner)
        {
            <div class="col-md-3">
                <div class="square-service-block">
                    <a href="MallOwnerMallList">
                        <div class="ssb-icon"> <i class="fa fa-globe" aria-hidden="true"></i> </div>
                        <h2 class="ssb-title">Registered <br />Malls</h2>
                    </a>
                </div>
       
            </div>
                <div class="col-md-3">
                    <div class="square-service-block">
                        <a href="MallOwnerIndexAdminSpace">
                            <div class="ssb-icon"><i class="fa fa-font" aria-hidden="true"></i></div>
                            <h2 class="ssb-title">Admin <br />Space</h2>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <div class="square-service-block">
                        <a href="">
                            <div class="ssb-icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                            <h2 class="ssb-title">Shop <br>Space</h2>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="square-service-block">
                        <a href="MallOWnerIndexEmpSpace">
                            <div class="ssb-icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                            <h2 class="ssb-title">Employee<br />Space</h2>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="square-service-block">
                        <a href="ViewEvent">
                            <div class="ssb-icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                            <h2 class="ssb-title">View/Add <br />Events</h2>
                        </a>
                    </div>
                </div>
        }
    }
                    
            </div>
        </div>
            </div>


                        @*}*@
</body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
