﻿

 @model MallProject.Models.ViewModel.MallViewModel

@{
    ViewBag.Title = "MallOwnerMallEdit";
}


@using (Html.BeginForm("MallOwnerMallEdit", "MallOwner", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
   
        @Html.HiddenFor(model => model.MallID)
    <div class="container" style="padding-top: 10px;">
        <h1 class="page-header">Edit Profile</h1>
        <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">
                    <img src="~/Uploads/Mall/@Model.Img" class="avatar img-circle img-thumbnail" alt="avatar" style="width: 190px; height: 190px;">
                    <h6>Upload a different photo...</h6>
                    <input type="file" name="MyImage" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                    You can <strong>Edit</strong> Your Mall Here.
                </div>
                <h3>Personal info</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Category:</label>
                        <div class="col-lg-8">
                            @Html.DropDownListFor(x => x.MallCategoryID, new SelectList(ViewBag.MallCategoryVar, "MallCategoryID", "MallCategoryName"), "-- Select Category --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MallCategoryID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Name:</label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.MallName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MallName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">SQFT:</label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.SQFT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SQFT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Number Of Rooms:</label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.NRooms, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NRooms, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Floor Number:</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NFloor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NFloor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Licence Number:</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LicenceNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LicenceNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Address:</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Phone Number:</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PhnNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhnNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <span></span>
                            <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("MallOwnerMallList", "MallOwner") + "'");" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

