﻿
@{
    ViewBag.Title = "MallEmpIndex";
}

<h2>Welcome!</h2>
@using (Html.BeginForm("MallEmpIndex", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="View Profile" onclick="@("window.location.href='" + @Url.Action("EmpProfileView", "MallOwner",new { MallEmpID = ViewBag.MallEmpID }) + "'");" />
    </div>
</div>


<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="View Transactions" onclick="@("window.location.href='" + @Url.Action("ViewOwnerEmpPay", "MallOwner") + "'");" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-4 col-md-10">
        <input type="button" class="btn btn-primary" style='width:300px;height:50px' value="Message Box" onclick="@("window.location.href='" + @Url.Action("ComplaintToMallOwner", "MallOwner") + "'");" />
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


