﻿@model MallProject.Models.ViewModel.MallOwnerViewModel

@{
    ViewBag.Title = "MallOwnerProfileEdit";
}

@using (Html.BeginForm("MallOwnerProfileEdit", "MallOwner", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    
    @Html.AntiForgeryToken()
    
        @Html.HiddenFor(model => model.MallOwnerDetailsID)
        @Html.HiddenFor(model => model.MallOwnerID)
       
    <div class="container" style="padding-top: 10px;">
        <h1 class="page-header">Edit Profile</h1>
        <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">
                    <img src="~/Uploads/MallOwner/@Model.Img" class="avatar img-circle img-thumbnail" alt="avatar" style="width: 190px; height: 190px;">
                    <h6>Upload a different photo...</h6>
                    <input type="file" name="MyImage" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                    You can <strong>Edit</strong> Your Profile Here.
                </div>
                <h3>Personal info</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Name:</label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Address:</label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email ID:</label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Date Of Birth:</label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control TimePicker" } })
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label class="col-md-3 control-label">Age:</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Gender:</label>
                        <div class="col-md-8">
                            @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male" })@Html.Label("male", "Male")
                            @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female" })@Html.Label("female", "Female")
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "red-text" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Phone Number:</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PhnNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhnNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <span></span>
                            <input type="button" value="Cancel" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("MallOwnerProfileView", "MallOwner") + "'");" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/moment.min.js"></script>
<link href="~/Scripts/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.min.js"></script>
<script>

    $(function () {
        $('.TimePicker').bootstrapMaterialDatePicker(
            {
                format: "DD-MM-YYYY",
                time: false
            });
    });
</script>
