﻿

@model MallProject.Models.MallTbl

@{
    ViewBag.Title = "MallSite";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<h2>Welcome to @Model.MallName</h2>
@using (Html.BeginForm("MallSite", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*if (item.Img == null)
        {
            <img src="~/Uploads/mallnot.png" style="width: 400px; height: 400px;" />
        }

        else
        {

            <img src="~/Uploads/Mall/@Model.Img" style="width: 400px; height: 350px;">
        }

        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })*@




    /* <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
              <span class="sr-only">40% Complete (success)</span>
          </div>
      </div>*/









    @*<div class="container">
            <div class="jumbotron jumbotron-sm" style="background-color:#339966;margin-top:2%;color:white;">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h2" style="margin-top:-2%">
                          Location
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Address:</h3>
                        <p style="margin-top:6%;line-height:35%">@item.Address</p>
                        <br />
                        <br />
                        <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> PhoneNo:</h3>
                        <p style="margin-top:6%;line-height:35%">@item.PhnNo</p>
                        <br />
                        <br />

                    </div>
                </div>
                <div class="col-sm-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96690.80542089987!2d29.864461132544537!3d40.77109282810726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb4f66644bfb9d%3A0x82690ee7586b7eb9!2zxLB6bWl0LCBLb2NhZWxp!5e0!3m2!1str!2str!4v1480782606579" width="565" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </div>
        </div>
                }
            }*@


    @Styles.Render("~/Content/MallSite.css")

                <!-- Top menu -->
    <nav role="navigation" class="navbar navbar-inverse navbar-no-bg">
        <div class="container">
            <div class="navbar-header">
                <button data-target="#top-navbar-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a target="_blank" href="https://web.facebook.com/iamgurdeeposahan" class="navbar-brand"><i class="fa fa-bullseye"></i></a>
            </div>

        </div>
    </nav>


    if (Model.Img == null)
    {
        <img src="~/Uploads/mallnot.png" style="width: 1200px; height: 500px;" />
    }

    else
    {

        <img src="~/Uploads/Mall/@Model.Img" style="width: 1200px; height: 500px;">
    }



    <div class="app-features-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 app-features section-description wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                    <h2>Mall Details</h2>
                    <div class="divider-1 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"><span></span></div>
                    <p>

                        @{
                            var db = new MallProject.Models.MallManagementEntities();
                            var CategoryList = db.MallCategoryTbls.ToList();
                            foreach (var id in CategoryList)
                            {
                                if (Model.MallCategoryID == id.MallCategoryID)
                                {
                                    <pre style="font-size: 16px"><b>CATEGORY         : </b>@id.Name</pre>
                                }
                            }
                        }
<pre style="font-size: 16px"><b>SUARE-FEET       : </b>@Html.DisplayFor(modelItem => Model.SQFT)</pre>
<pre style="font-size: 16px"><b>NO.OF.ROOMS      : </b>@Html.DisplayFor(modelItem => Model.NRooms)</pre>
<pre style="font-size: 16px"><b>NO.OF.FLOOR      : </b>@Html.DisplayFor(modelItem => Model.NFloor)</pre>
<pre style="font-size: 16px"><b>LICENCE-NO       : </b>@Html.DisplayFor(modelItem => Model.LicenceNo)</pre>
<pre style="font-size: 16px"><b>ADDRESS          : </b>@Html.DisplayFor(modelItem => Model.Address)</pre>
<pre style="font-size: 16px"><b>PHONE-NO         : </b>@Html.DisplayFor(modelItem => Model.PhnNo)</pre>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 app-features-wrapper wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="app-features-box">
                        <div class="app-features-box-icon">
                            <span class="typcn typcn-eye-outline fa fa-eye" aria-hidden="true"></span>
                        </div>
                        <h3>Easy To Use</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    </div>
                    <div class="app-features-box">
                        <div class="app-features-box-icon fa fa-hand-peace-o">
                            <span class="typcn typcn-thumbs-ok" aria-hidden="true"></span>
                        </div>
                        <h3>Responsive Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    </div>
                </div>

                <div class="col-sm-4 app-features-wrapper wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="app-features-box">
                        <div class="app-features-box-icon">
                            <span class="typcn typcn-cog-outline fa fa-cog" aria-hidden="true"></span>
                        </div>
                        <h3>Bootstrap Engine</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    </div>
                    <div class="app-features-box">
                        <div class="app-features-box-icon">
                            <span class="typcn typcn-group-outline fa fa-group" aria-hidden="true"></span>
                        </div>
                        <h3>Big Community</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="how-it-works-container section-container section-container-image-bg" style="position: relative; z-index: 0; ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 how-it-works section-description wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                    <h2>Events</h2>
                    <div class="divider-1 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"><span></span></div>
                </div>
            </div>


            @{
                var EventList = db.EventTbls.Where(x => x.MallID == Model.MallID).ToList();
                foreach (var item in EventList)
                {
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="how-it-works-box-icon">
                             
                            </div>
                            <h3>@item.EventName</h3>
                            <p>Date:@item.Date</p>
                        </div>
                        </div>


                        }
                        }



                 
    </div>
        </div>


    <div class="about-us-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 about-us section-description wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                    <h2>About us</h2>
                    <div class="divider-1 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 about-us-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="about-us-photo">
                        <img src="http://placemi.com/petnp/600x700" class="img-responsive">
                        <div class="about-us-role">Marketing</div>
                    </div>
                    <h3>John Doe</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    <div class="about-us-social">
                        <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                        <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                        <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                    </div>
                </div>
                <div class="col-sm-4 about-us-box wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="about-us-photo">
                        <img src="http://placemi.com/xruzn/600x700" class="img-responsive">
                        <div class="about-us-role">Designer</div>
                    </div>
                    <h3>Tim Brown</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    <div class="about-us-social">
                        <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                        <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                        <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                    </div>
                </div>
                <div class="col-sm-4 about-us-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="about-us-photo">
                        <img src="http://placemi.com/wctme/600x700" class="img-responsive">
                        <div class="about-us-role">Developer</div>
                    </div>
                    <h3>Sarah Red</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    <div class="about-us-social">
                        <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                        <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                        <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section_heading" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 about-us section-description wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                    <h2>Contact us</h2>
                    <div class="divider-1 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="col-lg-12 txt_cen">
                        <p>@Model.Address<br />
                        Mobile:@Model.PhnNo
                         </p><br><br>
                    </div>
                    <form novalidate="" id="contactForm" name="sentMessage">
                        <div class="row">
                            <div class="control-group">
                                <div class="form-groupcol-xs-12 col-sm-6 col-md-6 col-lg-6  floating-label-form-group controls">
                                    <input type="text" data-validation-required-message="Please enter your name." required="" id="name" placeholder="Your Name" class="form-control" aria-invalid="false">

                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 floating-label-form-group controls email_div">

                                    <input type="email" data-validation-required-message="Please enter your email address." required="" id="email" placeholder="Your Email" class="form-control" aria-invalid="false">


                                </div>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 floating-label-form-group controls">
                                <textarea data-validation-required-message="Please enter a message." required="" id="message" placeholder="Your Message" class="form-control" rows="5" aria-invalid="false"></textarea>

                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-groupcol-xs-12 col-sm-12 col-md-12 col-lg-12 img_cen_div">
                                <button class="btn btn-default form_send_btn btn-lg" type="submit">SEND MESSAGE <i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center bck_gray">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="social_icon_list">
                            <li><a class="fb_icon" target="_blank" href="https://web.facebook.com/iamgurdeeposahan"><i class="fa fa-facebook"></i></a></li>
                            

                        </ul>
                    </div>
                    <div class="col-lg-12 mar_bot_top_ten">
                        <br>
                        © <i class="fa fa-bullseye"></i> 2016. Design by
                        <a href="https://web.facebook.com/iamgurdeeposahan" title="gurdeeposahan" target="_blank">Iamgurdeeposahan</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>

                }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
