﻿
@model MallProject.Models.ViewModel.MallViewModel
@{
    ViewBag.Title = "MallReg";
}
@*@Styles.Render("~/Content/Mall.css")*@
<body class="body">
    @using (Html.BeginForm("MallReg", "MallOwner", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Register New Mall..</h4>
        <hr />



        @*<div class="agileits-register">
            <div class="panel-body">*@
                <div class="form-group">
                    <b style="width:40px;"> @Html.LabelFor(m => m.MallName, new { @class = "col-md-2 control-label" })</b>
                    <div class="col-xs-12 col-md-5">
                        @Html.TextBoxFor(m => m.MallName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MallName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b style="width:40px;">
                        @Html.LabelFor(m => m.MallCategoryID, new { @class = "col-md-2 control-label" })
                    </b>
                    <div class="col-xs-12 col-md-5">
                        @Html.DropDownListFor(x => x.MallCategoryID, new SelectList(ViewBag.MallCategoryVar, "MallCategoryID", "MallCategoryName"), "-- Select Category --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MallCategoryID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SQFT, new { @class = "col-md-2 control-label" })
                    <div class="col-xs-12 col-md-5">
                        @Html.TextBoxFor(m => m.SQFT, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SQFT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <b style="width:400px;"> @Html.LabelFor(m => m.NRooms, new { @class = "col-md-2 control-label" })</b>
                    <div class="col-xs-12 col-md-5">
                        @Html.TextBoxFor(m => m.NRooms, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NRooms, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.NFloor, new { @class = "col-md-2 control-label" })
                    <div class="col-xs-12 col-md-5">
                        @Html.TextBoxFor(m => m.NFloor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NFloor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LicenceNo, new { @class = "col-md-2 control-label" })
                    <div class="col-xs-12 col-md-5">
                        @Html.TextBoxFor(m => m.LicenceNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LicenceNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                    <div class="col-xs-12 col-md-5">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhnNo, new { @class = "col-md-2 control-label" })
                    <div class="col-xs-12 col-md-5">
                        @Html.TextBoxFor(m => m.PhnNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PhnNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1" class="col-md-2 control-label">Image:</label>
                    <input type="file" name="MyImage" class="form-control-file" id="exampleFormControlFile1">
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Register" />
                        <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndex", "MallOwner") + "'");" />
                    </div>
                </div>
            @*</div>
        </div>*@


    }
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<script src="~/Scripts/DateTimePicker/moment.js">
    </scripts>
    <link href="~/Scripts/DateTimePicker/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/DateTimePicker/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.min.js"> </script>
    <script>
        $(function () {
            $('.TimePicker').bootstrapMaterialDatePicker(
                {
                    format: "DD-MM-YYYY",
                    time: false
                });
        });
        </script>*@
