﻿
@model MallProject.Models.ViewModel.MallEmpViewModel
@{
    ViewBag.Title = "PayEmpSalarySearch";
}
@Styles.Render("~/Content/Mall.css")
<h2 style="color:black;">Payment Page...</h2>
<body class="body">

    @{if (TempData["Message"] != null)
            {
            <script type="text/javascript">
                window.onload = function () {
                    alert('@TempData["Message"]');
                };
            </script>
        }
    }

    <div align="right">
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndexEmpSpace", "MallOwner") + "'");" />
    </div>
    @*<div class="panel">
        <div class="panel-body">*@
    <table class="table pull-left">
        <tr>
            <td>
                @using (Html.BeginForm("PayEmpSalarySearch", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

                    @*<div class="panel">
                        <div class="panel-body">*@
                    <div class="form-group">
                        <h4 style="color:black"><b>@Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })</b></h4>
                        <div class="col-xs-12 col-md-5">
                            @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
                        </div>
                    </div>
                                    <div class="form-group">
                                        <h4 style="color:black"><b>@Html.LabelFor(m => m.Post, new { @class = "col-md-2 control-label" })</b></h4>
                                        <div class="col-xs-12 col-md-5">
                                            @Html.DropDownListFor(x => x.Post, new SelectList(ViewBag.EmpPostVar, "Post", "Post"), "-- Select Post --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h4 style="color:black"><b>@Html.LabelFor(m => m.EmpName, new { @class = "col-md-2 control-label" })</b></h4>
                                        <div class="col-xs-12 col-md-5">
                                            <input type="search" name="EmpName" class="form-control" placeholder="Search By Name" />
                                            @* <input type="submit" value="Search" class="btn btn-primary" />*@
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-offset-2">
                                        <input type="submit" value="Search" class="btn btn-default" />
                                    </div>
                                    @*</div>
                                        </div>*@
                }
            </td>
            <td>
                @{

                    var MallEmpID = Request.QueryString["MallEmpID"];
                    var MallID = Request.QueryString["MallID"];
                    var Post = Request.QueryString["Post"];
                    var EmpName = Request.QueryString["EmpName"];

                    var MallIDInt32 = Convert.ToInt32(MallID);
                    var db = new MallProject.Models.MallManagementEntities();
                    var EmployeeList = new List<MallProject.Models.MallEmpDetailsTbl>();

                    if (MallEmpID != null)
                    {
                        Html.RenderAction("PayEmpSalary", new { MallEmpID = MallEmpID });
                    }
                    else
                    if (MallID != null && Post == null && EmpName == null)
                    {

                        EmployeeList = db.MallEmpDetailsTbls.Where(x => x.MallID == MallIDInt32).ToList();
                       
                    }
                    else if (Post != null && MallID != null && EmpName == null)
                    {

                        var EmpList = db.MallEmpDetailsTbls.Where(x => x.MallID == MallIDInt32).ToList();
                        var CheckPost = db.EmpPostTbls.Where(x => x.Post == Post).ToList();
                        foreach (var post in CheckPost)
                        {
                            var id = post.EmpPostID;
                            EmployeeList = EmpList.Where(x => x.EmpPostID == id).ToList();
                           
                        }
                    }
                    else if (EmpName != null && MallID != null && Post == null)
                    {

                        var EmpList = db.MallEmpDetailsTbls.Where(x => x.MallID == MallIDInt32).ToList();
                        EmployeeList = EmpList.Where(x => x.EmpName == EmpName).ToList();
                      
                    }




                    if (EmployeeList.Count() > 0)
                    {

                        <table class="table table-hover table-striped">
                            <tr>

                                <th>
                                    <h4 style="color:black"><b>NO</b></h4>
                                </th>
                                <th></th>
                                <th>
                                    <h4 style="color:black"><b> NAME</b></h4>
                                </th>
                                <th></th>
                                <th>
                                    <h4 style="color:black"> <b>DESIGNATION</b></h4>
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var item in EmployeeList)
                            {
                                <tr>
                                    <td>
                                        <h4 style="color:black"> @Html.DisplayFor(modelItem => item.MallEmpDetailsID)</h4>
                                    </td>

                                    <td></td>
                                    <td>
                                        <h4 style="color:black"> @Html.DisplayFor(modelItem => item.EmpName)</h4>
                                    </td>
                                    <td></td>
                                    <td>
                                        @{

                                            var PostList = db.EmpPostTbls.ToList();
                                            foreach (var id in PostList)
                                            {
                                                if (item.EmpPostID == id.EmpPostID)
                                                {


                                                    <h4 style="color:black">  @Html.DisplayFor(modelItem => id.Post)</h4>

                                                }
                                            }
                                        }
                                    </td>

                                    @Html.HiddenFor(modelItem => item.MallEmpID)
                                    <td>
                                        <div class="btn btn-default">
                                            @Html.ActionLink("Pay Salary", "PayEmpSalarySearch", new { MallEmpID = item.MallEmpID })
                                        </div>

                                    </td>

                                </tr>
                                            }
                        </table>




                            <div align="right">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("PayEmpSalarySearch", "MallOwner") + "'");" />
                                </div>
                            </div>


                               }
                             else if (EmployeeList.Count() == 0 && MallID != null)
                            {
                                   <div align="left"><h2>No Employees found!</h2></div>
                           }
                }
            </td>
        </tr>
    </table>
    @*</div>
        </div>*@
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

