﻿
@{
    ViewBag.Title = "PayEmpSalary2";
}




<h2>@ViewBag.Completed <input type="button" class="btn btn-primary" value="Get Receipt" onclick="@("window.location.href='" + @Url.Action("PrintEmpSlip", "Admin",new { MallEmpPayID=ViewBag.MallEmpPayID}) + "'");" /></h2>