﻿
@model MallProject.Models.ViewModel.MallEmpPayModel
@{
    ViewBag.Title = "PayAdminRent";
    Layout = null;
}
@Styles.Render("~/Content/Mall.css")

@*<div class="panel">*@
@using (Html.BeginForm("PayEmpSalary", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.MallEmpID)
    <div class="form-group" style="color:black;">
        <h4>@Html.LabelFor(m => m.PaymentMode, new { @class = "col-md-4 control-label" })</h4><br />
        <div class="col-xs-12 col-md-5">
            @Html.RadioButtonFor(model => model.PaymentMode, "Credit", new { id = "Credit" })@Html.Label("Credit", "Credit")
            <br />
            @Html.RadioButtonFor(model => model.PaymentMode, "NetBanking", new { id = "NetBanking" })@Html.Label("NetBanking", "NetBanking")<br />
            @Html.ValidationMessageFor(model => model.PaymentMode, "", new { @class = "Red-Text" })
            <input type="submit" class="btn btn-default" value="GO>" />
        </div>
    </div>   
}

@{
    var MallEmpID = Request.QueryString["MallEmpID"];
    var PaymentMode = Request.QueryString["PaymentMode"];

    if (PaymentMode == "Credit")
    {
        <div class="container wrapper">

            @using (Html.BeginForm("PayEmpSalary2", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                <div class="row cart-body">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">


                        <!--CREDIT CART PAYMENT-->
                        <div class="panel panel-info" style="width:500px;">
                            <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
                            <div class="panel-body" style="width:500px;">
                                @{ var db = new MallProject.Models.MallManagementEntities();
                                    var emp = db.MallEmpDetailsTbls.ToList();

                                    foreach (var id in emp)
                                    {
                                        if (MallEmpID == id.MallEmpID)
                                        {


                                            <div class="form-group">
                                                <div class="col-md-12" style="color:white;"><strong>Amount:</strong></div>
                                                <div class="col-md-12"><input type="text" class="form-control" readonly value="@id.Salary" name="Amount" /></div>

                                            </div>

                                        }
                                    }
                                }

                                <div class="col-md-12"><input type="hidden" class="form-control" value="@MallEmpID" name="MallEmpID" /> </div>
                                <div class="col-md-12"><input type="hidden" class="form-control" value="@PaymentMode" name="PaymentMode" /></div>
                                <div class="form-group">
                                    <div class="col-md-12" style="color:white;"><strong>Card Type:</strong></div>
                                    <div class="col-md-12">
                                        <select id="CreditCardType" name="CreditCardType" class="form-control">
                                            <option value="5">Visa</option>
                                            <option value="6">MasterCard</option>
                                            <option value="7">American Express</option>
                                            <option value="8">Discover</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12" style="color:white;"><strong>Credit Card Number:</strong></div>
                                    <div class="col-md-12"><input type="text" class="form-control" name="car_number" value="" /></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12" style="color:white;"><strong>Card CVV:</strong></div>
                                    <div class="col-md-12"><input type="text" class="form-control" name="car_code" value="" /></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12" style="color:white;">
                                        <strong>Expiration Date</strong>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="">
                                            <option value="">Month</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="">
                                            <option value="">Year</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12" style="color:white;">
                                        <span>Pay secure using your credit card.</span>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="cards">
                                            <li class="visa hand">Visa</li>
                                            <li class="mastercard hand">MasterCard</li>
                                            <li class="amex hand">Amex</li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="submit" class="btn btn-default " value="Pay Now" />
                                        <input type="button" class="btn btn-default" value="Cancel" onclick="@("window.location.href='" + @Url.Action("PayEmpSalarySearch", "MallOwner") + "'");" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--CREDIT CART PAYMENT END-->
                    </div>


                </div>
                                    }
            <div class="row cart-footer">

            </div>
        </div>
                                    }
}
@*</div>*@ 