﻿
@using Microsoft.AspNet.Identity;
@model MallProject.Models.MallEmpMsgTbl
@{
    ViewBag.Title = "RemarkToEmpPage";
}
@Styles.Render("~/Content/Mall.css")
@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
<body class="body">
    <h2>MESSAGE BOX</h2>
    <p align="right">
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndexEmpSpace", "MallOwner") + "'");" />
    </p>
    <div>

        <div class="row">

            <div class="col-md-12 col-md-offset-0">
                <div class="panel">
                    <div class="panel-body">
                        <div class="btn-group">
                            @using (Html.BeginForm("RemarkToEmpPage", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:10px;" value="Inbox" />
                                <input type="submit" class="btn btn-default" name="command" style="float: left;" value="Send Items" />
                            }
                        </div>
                        <div class="table-container">
                            @{
                                var db = new MallProject.Models.MallManagementEntities();
                                var MallOwnerID = User.Identity.GetUserId();
                                var MallEmp = db.MallEmpDetailsTbls.ToList();
                                var Mall = db.MallTbls.Where(x => x.MallOwnerID == MallOwnerID).ToList();
                                var Model2 = new List<MallProject.Models.MallEmpMsgTbl>();
                                if (!IsPost)
                                {
                                    using (Html.BeginForm("RemoveMsg2", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {


                                        var Model = db.MallEmpMsgTbls.Where(x => x.WhoStatus == false && x.MallViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                        foreach (var id in Mall)
                                        {

                                            if (id.MallOwnerID == MallOwnerID)
                                            {
                                                foreach (var id2 in MallEmp)
                                                {
                                                    if (id.MallID == id2.MallID)
                                                    {
                                                        foreach (var id3 in Model)
                                                        {
                                                            if (id2.MallEmpID == id3.MallEmpID)
                                                            {
                                                                Model2.Add(id3);
                                                            }
                                                        }
                                                    }
                                                }

                                            }
                                        }
                                        if (Model2.Count > 0)
                                        {
                                            Html.RenderPartial("ViewMsgOwnerEmpPartial", Model2);
                                        }
                                        else
                                        {
                                            <h1>No Messages</h1>
                                        }
                                    }
                                }




                                if (IsPost)
                                {

                                    using (Html.BeginForm("RemoveMsg2", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        if (Request["command"].Equals("Inbox"))
                                        {

                                            var Model = db.MallEmpMsgTbls.Where(x => x.WhoStatus == false && x.MallViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                            foreach (var id in Mall)
                                            {

                                                if (id.MallOwnerID == MallOwnerID)
                                                {
                                                    foreach (var id2 in MallEmp)
                                                    {
                                                        if (id.MallID == id2.MallID)
                                                        {
                                                            foreach (var id3 in Model)
                                                            {
                                                                if (id2.MallEmpID == id3.MallEmpID)
                                                                {
                                                                    Model2.Add(id3);
                                                                }
                                                            }
                                                        }
                                                    }

                                                }
                                            }
                                            if (Model2.Count > 0)
                                            {
                                                Html.RenderPartial("ViewMsgOwnerEmpPartial", Model2);
                                            }
                                            else
                                            {
                                                <h1>No Messages</h1>
                                            }
                                        }

                                        else if (Request["command"].Equals("Send Items"))
                                        {

                                            var Model = db.MallEmpMsgTbls.Where(x => x.WhoStatus == true && x.MallViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                            foreach (var id in Mall)
                                            {

                                                if (id.MallOwnerID == MallOwnerID)
                                                {
                                                    foreach (var id2 in MallEmp)
                                                    {
                                                        if (id.MallID == id2.MallID)
                                                        {
                                                            foreach (var id3 in Model)
                                                            {
                                                                if (id2.MallEmpID == id3.MallEmpID)
                                                                {
                                                                    Model2.Add(id3);
                                                                }
                                                            }
                                                        }
                                                    }

                                                }
                                            }
                                            if (Model2.Count > 0)
                                            {
                                                Html.RenderPartial("ViewMsgOwnerEmpPartial", Model2);
                                            }
                                            else
                                            {
                                                <h1>No Messages</h1>
                                            }
                                        }
                                    }
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

