﻿@model IEnumerable<MallProject.Models.MallEmpMsgTbl>
@using Microsoft.AspNet.Identity;
<table class="table table-filter">
    <tbody>
        @foreach (var item in Model)
        {
            var MallEmpID = User.Identity.GetUserId();
            <tr data-status="pagado">
                <td>
                    <input type="checkbox" name="ids" value="@item.MallEmpMsgID" />
                </td>
                <td></td>
                <td>
                    <div class="media">
                        <a href="#" class="pull-left">
                            @{
                                var db = new MallProject.Models.MallManagementEntities();
                                if (User.IsInRole("MallOwner"))
                                {
                                    var MallEmp = db.MallEmpDetailsTbls.ToList();
                                    foreach (var id in MallEmp)
                                    {
                                        if (item.MallEmpID == id.MallEmpID)
                                        {


                                            if (id.Img == null)
                                            {
                                                <img src="~/Uploads/default.png" style="width: 50px; height: 50px;border-radius: 50%;" />
                                            }

                                            else
                                            {

                                                <img src="~/Uploads/MallEmp/@id.Img" style="width: 50px; height: 50px;border-radius: 50%;">
                                            }


                                        }
                                    }
                                }
                                else
                                {
                                    if (User.IsInRole("MallEmp"))
                                    {
                                        if (!IsPost)
                                        {
                                            var EmpList2 = db.MallEmpDetailsTbls.ToList();
                                            var MallList2 = db.MallTbls.ToList();
                                            foreach (var id in EmpList2)
                                            {
                                                if (item.MallEmpID == id.MallEmpID)
                                                {
                                                    foreach (var id2 in MallList2)
                                                    {
                                                        if (id.MallID == id2.MallID)
                                                        {
                                                            if (id.Img == null)
                                                            {
                                                                <img src="~/Uploads/mallnot.png" style="width: 50px; height: 50px;border-radius: 50%;" />
                                                            }

                                                            else
                                                            {

                                                                <img src="~/Uploads/Mall/@id2.Img" style="width: 50px; height: 50px;border-radius: 50%;">
                                                            }

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        else if (IsPost)
                                        {
                                            if (Request["command"].Equals("Send Items"))
                                            {
                                                var MallEmp = db.MallEmpDetailsTbls.ToList();
                                                foreach (var id in MallEmp)
                                                {
                                                    if (item.MallEmpID == id.MallEmpID)
                                                    {


                                                        if (id.Img == null)
                                                        {
                                                            <img src="~/Uploads/default.png" style="width: 50px; height: 50px;border-radius: 50%;" />
                                                        }

                                                        else
                                                        {

                                                            <img src="~/Uploads/MallEmp/@id.Img" style="width: 50px; height: 50px;border-radius: 50%;">
                                                        }


                                                    }
                                                }
                                            }
                                            else if (Request["command"].Equals("Inbox"))
                                            {
                                                var EmpList2 = db.MallEmpDetailsTbls.ToList();
                                                var MallList2 = db.MallTbls.ToList();
                                                foreach (var id in EmpList2)
                                                {
                                                    if (item.MallEmpID == id.MallEmpID)
                                                    {
                                                        foreach (var id2 in MallList2)
                                                        {
                                                            if (id.MallID == id2.MallID)
                                                            {
                                                                if (id.Img == null)
                                                                {
                                                                    <img src="~/Uploads/mallnot.png" style="width: 50px; height: 50px;border-radius: 50%;" />
                                                                }

                                                                else
                                                                {

                                                                    <img src="~/Uploads/Mall/@id2.Img" style="width: 50px; height: 50px;border-radius: 50%;">
                                                                }

                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        </a>
                        <div class="media-body">
                            <span class="media-meta pull-right">@item.DatePosted</span>
                            <h4 class="title">
                                @{


                                    var EmpList = db.MallEmpDetailsTbls.ToList();
                                    if (User.IsInRole("MallOwner"))
                                    {
                                        foreach (var id in EmpList)
                                        {
                                            if (item.MallEmpID == id.MallEmpID)
                                            {


                                                @Html.DisplayFor(modelItem => id.EmpName)

                                            }
                                        }
                                    }
                                }
                                <span class="pull-right pagado">
                                    @{if (!IsPost)
                                        {
                                            if (item.ReadStatus != true)
                                            {
                                                <img src="~/Content/msg.png" style="width: 40px; height: 40px;" />


                                            }
                                        }

                                        if (IsPost)
                                        {

                                            if (Request["command"].Equals("Inbox"))
                                            {
                                                if (item.ReadStatus != true)
                                                {
                                                    <img src="~/Content/msg.png" style="width: 40px; height: 40px;" />


                                                }

                                            }
                                        }
                                    }
                                    (
                                    @{


                                        var MallList = db.MallTbls.ToList();
                                        foreach (var id in EmpList)
                                        {
                                            if (item.MallEmpID == id.MallEmpID)
                                            {
                                                foreach (var id2 in MallList)
                                                {
                                                    if (id.MallID == id2.MallID)
                                                    {
                                                        @Html.DisplayFor(modelItem => id2.MallName)
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    )


                                    @if (User.IsInRole("MallOwner") && item.WhoStatus == false)
                                    {
                                        @Html.ActionLink("Reply", "SendOwnerEmpMsg", new { MallEmpID = item.MallEmpID });

                                    }
                                    |@Html.ActionLink("Details", "MallEmpMsgDetails", new { id = item.MallEmpMsgID })
                                </span>
                            </h4>
                            <p class="summary">
                                @item.Msg

                            </p>
                        </div>
                    </div>
                </td>
            </tr>

                                        }
    </tbody>
</table>
<div>
    <input type="submit" class="btn btn-primary" style="float:right; margin-right:10px;" value="Delete" onclick="return confirm('Are sure wants to delete?');" />
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}