﻿
@model MallProject.Models.ViewModel.EventViewModel.EventViewModel2
   
@{
    ViewBag.Title = "Viewevent";
}
@Styles.Render("~/Content/Mall.css")
<body class="body">
    @{if (TempData["Message"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert('@TempData["Message"]');
                };
            </script>
        }
    }
    <h2 style="color:black">
        Event List
    </h2>

    <div align="right">
        <input type="button" class="btn btn-default" value="Add New Event" onclick="@("window.location.href='" + @Url.Action("AddEvent", "MallOwner") + "'");" />
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndex", "MallOwner") + "'");" />
    </div>
   
    @using (Html.BeginForm("ViewEvent", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@


        <div class="form-group">
            <h5 style="color:black"><b>@Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })</b></h5>
           
                @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MallID, "", new { @class = "text-danger" })        
            <h5 style="color:black"><b>@Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })</b></h5>
                  @Html.DropDownListFor(x => x.Date, new SelectList(ViewBag.Date, "Date", "Date"), "-- Select Date --", new { @class = "form-control" })
          
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" class="btn btn-default" value="Search" />
               
            </div>
        </div>
 }


    @{
        var MallID = Request.QueryString["MallID"];
        var Date = Request.QueryString["Date"];
        var MallID2 = Convert.ToInt32(MallID);
        var Date2 = Convert.ToDateTime(Date);
        var EventList = new List<MallProject.Models.EventTbl>();
        var db = new MallProject.Models.MallManagementEntities();
        if (MallID != null && Date == null)
        {
            EventList = db.EventTbls.Where(x => x.MallID == MallID2).ToList();         
        }
        else if (Date != null && MallID != null)
        {
        
            EventList = db.EventTbls.Where(x => x.MallID == MallID2 && x.Date == Date2).ToList();       
        }

        if (EventList.Count() > 0)
        {


        <table class="table table-hover table-striped table-responsive ">
            <tr>
                <th>
                    <h4 style="color:black"><b>EVENT NAME</b></h4>
                </th>
                <th>
                    <h4 style="color:black;width:200px"><b>DATE AND TIME</b></h4>
                </th>

                <th>
                    <h4 style="color:black;width:200px"><b>PERSON NAME</b></h4>
                </th>
                <th>
                    <h4 style="color:black;width:200px"><b>ADDRESS</b></h4>
                </th>
                <th>
                    <h4 style="color:black"><b>PHONE NO</b></h4>
                </th>
                <th>
                    <h4 style="color:black"><b>AMOUNT</b></h4>
                </th>
                <th></th>
            </tr>

            @foreach (var item in EventList)
            {
                <tr>
                    <td>
                        <h5 style="color:black"> @Html.DisplayFor(modelItem => item.EventName)</h5>
                    </td>
                    <td>
                        <h5 style="color:black"> @Html.DisplayFor(modelItem => item.Date)</h5>
                    </td>
                    <td>
                        <h5 style="color:black"> @Html.DisplayFor(modelItem => item.PersonName)</h5>
                    </td>
                    <td>
                        <h5 style="color:black"> @Html.DisplayFor(modelItem => item.Address)</h5>
                    </td>
                    <td>
                        <h5 style="color:black"> @Html.DisplayFor(modelItem => item.PhnNo)</h5>
                    </td>
                    <td>
                        <h5 style="color:black"> @Html.DisplayFor(modelItem => item.Amount)</h5>
                    </td>

                    <td>

                        <div class="btn btn-default">
                            @Html.ActionLink("Remove", "RemoveEvent", new { EventID = item.EventID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                        </div>
                    </td>
                </tr>
            }

        </table>
        }
        else if (EventList.Count() == 0 && MallID != null)
        {
            <div align="center"><h2>No Events!</h2></div>
        }


    }

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





