﻿
@model MallProject.Models.ViewModel.MallEmpPayModel

@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "ViewOwnerEmpPay";
}
@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
<h2>Transactions...</h2>
<div align="right">
    @if (User.IsInRole("MallOwner"))
    {
        <input type="button" class="btn btn-primary" value="Pay Salary" onclick="@("window.location.href='" + @Url.Action("EmpListViewSearch", "MallOwner") + "'");" />
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerIndexEmpSpace", "MallOwner") + "'");" />
       
        
           
    }
    else
    {
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallEmpIndex", "MallOWner") + "'");" />
    }
</div>
@if (User.IsInRole("MallOwner"))
{
    using (Html.BeginForm("ViewOwnerEmpPay", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="form-group">
            <h4 style="color:black"><b>@Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })</b></h4>
            <div class="col-xs-12 col-md-5">
                @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-12 col-lg-offset-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    }
}

@{

    var MallID = Request.QueryString["MallID"];
    var MallIDInt32 = Convert.ToInt32(MallID);
    var db = new MallProject.Models.MallManagementEntities();
    var EmployeeList = db.MallEmpDetailsTbls.Where(x => x.MallID == MallIDInt32).ToList();
    var Transaction2 = new List<MallProject.Models.MallEmpPayTbl>();
    var Transaction = db.MallEmpPayTbls.Where(x => x.OwnerViewStatus != false).OrderByDescending(x => x.DatePaid).ToList();
    foreach (var id in EmployeeList)
    {
        foreach (var id2 in Transaction)
        {
            if (id.MallEmpID == id2.MallEmpID)
            {
                Transaction2.Add(id2);
            }
        }
    }


    if (User.IsInRole("MallEmp"))
    {
        var MallEmpID = User.Identity.GetUserId();
        Transaction2 = db.MallEmpPayTbls.Where(x => x.EmpViewStatus != false && x.MallEmpID == MallEmpID).OrderByDescending(x => x.DatePaid).ToList();
    }
    if (Transaction2.Count() > 0)
    {
        using (Html.BeginForm("RemoveOwnerEmpPay", "MallOwner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <table class="table table-hover table-striped table-responsive">
                <tr>
                    <th>
                        EMPLOYEE NAME
                    </th>
                    <th>
                        MALL
                    </th>
                    <th>
                        AMOUNT
                    </th>
                    <th>
                        DATE OF PAYMENT
                    </th>
                    <th>
                        PAYMENT MODE
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Transaction2)
                    {
                    <tr>
                        <td>
                            @{

                                var EmpList = db.MallEmpDetailsTbls.ToList();

                                foreach (var id in EmpList)
                                {
                                    if (item.MallEmpID == id.MallEmpID)
                                    {


                                        @Html.DisplayFor(modelItem => id.EmpName)

                                    }
                                }
                            }
                        </td>
                        <td>
                            @{


                                var MallList = db.MallTbls.ToList();
                                foreach (var id in EmpList)
                                {
                                    if (item.MallEmpID == id.MallEmpID)
                                    {
                                        foreach (var id2 in MallList)
                                        {
                                            if (id.MallID == id2.MallID)
                                            {

                                                @Html.DisplayFor(modelItem => id2.MallName)
                                            }
                                        }
                                    }
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatePaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMode)
                        </td>

                        <td>
                            <input type="checkbox" name="ids" value="@item.MallEmpPayID" />
                        </td>
                    </tr>


                                }
            </table>
            <div>
                <input type="submit" class="btn btn-primary" style="float:right; margin-right:10px;" value="Delete" onclick="return confirm('Are sure wants to delete?');" />
            </div>
                                    }



                                }

                                else
                                {
                                    if (User.IsInRole("MallEmp"))
                                    {
                                        <div align="center"><h2>No Records!</h2></div>
                                    }
                                    else if (User.IsInRole("MallOwner") && MallID != null)
                                    {
                                        <div align="center"><h2>No Records!</h2></div>
                                    }

                                }

}
